{% comment %}
  Renders a list of product's variants

  Accepts:
  - product: {Object} Product Liquid object
  - show_image: {Boolean} Shows image of the variant in the row
  - is_modal: {Boolean} Defines if this snippet lives in a modal (optional)

  Usage:
  {% render 'quick-order-list', product: product %}
{% endcomment %}

{% comment %} TODO: enable theme-check once `line_items_for` is accepted as valid filter {% endcomment %}
{% # theme-check-disable %}
{%- assign items_in_cart = cart | line_items_for: product | sum: 'quantity' -%}
{% # theme-check-enable %}
<div class='quick-order-list-container color-{{ section.settings.color_scheme }}{% unless is_modal %} gradient{% endunless %}'>
  <quick-order-list
    class='page-width section-{{ section.id }}-padding'
    id='{{ section.id }}-{{ product.id }}'
    data-section='{{ section.id }}'
    data-product-id='{{ product.id }}'
    data-url='{{ product.url }}'
  >
    <form
      action='{{ routes.cart_update_url }}'
      class='quick-order-list__contents critical-hidden'
      method='post'
      id='QuickOrderList'
    >
      <div class='quick-order-list__container' id='main-variant-items'>
        <div class='js-contents' role='group' aria-labelledby='variants'>
          {%- if product.has_only_default_variant -%}
          {%- else -%}
            <div class='twcss-flex twcss-justify-between twcss-items-center twcss-mb-8 twcss-pb-8 twcss-border-b-2 twcss-border-slate-100'>
              <div class='twcss-flex'>
                <input id='check-all' type='checkbox' name='all' value='all'>
                <label for='check-all'><span id='selectedCount'>0</span> Variants selected</label><br>
              </div>
              <div>
                <quantity-input-all class='quantity cart-quantity' id='qty-all'>
                  <button class='quantity__button' name='minus' type='button'>
                    <span class='visually-hidden'> Decrease quantity for all selected variants </span>
                    {% render 'icon-minus' %}
                  </button>
                  <input
                    class='quantity__input'
                    type='number'
                    value='0'
                    step='1'
                    aria-label='Quantity for all selected variants'
                  >
                  <button class='quantity__button' name='plus' type='button'>
                    <span class='visually-hidden'> Increase quantity for all selected variants </span>
                    {% render 'icon-plus' %}
                  </button>
                  {%- render 'progress-bar' -%}
                </quantity-input-all>
              </div>
            </div>
          {%- endif -%}
          <table class='quick-order-list__table'>
            <caption class='visually-hidden'>
              {{ 'sections.cart.title' | t }}
            </caption>
            <thead>
              <tr class='twcss-flex twcss-justify-between !twcss-mb-0'>
                <th
                  class='twcss-w-1/3 lg:twcss-flex lg:twcss-flex-col lg:twcss-justify-end caption-with-letter-spacing'
                  scope='col'
                >
                  {%- if product.has_only_default_variant -%}
                    {{ 'sections.quick_order_list.product' | t }}
                  {%- else -%}
                    <span
                      class='
                        twcss-w-full twcss-relative twcss-block
                        before:twcss-absolute before:twcss-right-0 before:twcss--top-4 before:twcss-border-l-[6px] before:twcss-border-r-[6px] before:twcss-border-b-[6px] before:twcss-border-l-transparent before:twcss-border-r-transparent before:twcss-border-b-slate-500 before:twcss-w-0 before:twcss-h-0
                        after:twcss-absolute after:twcss-right-0 after:twcss--bottom-4 after:twcss-border-l-[6px] after:twcss-border-r-[6px] after:twcss-border-t-[6px] after:twcss-border-l-transparent after:twcss-border-r-transparent after:twcss-border-t-slate-500 after:twcss-w-0 after:twcss-h-0
                      '
                    >
                      {{ 'sections.quick_order_list.variant' | t }}
                    </span>
                  {%- endif -%}
                </th>
                <th
                  class='twcss-flex twcss-items-end twcss-justify-end large-up-hide right caption-with-letter-spacing'
                  scope='col'
                >
                  {%- if product.has_only_default_variant -%}
                    {{ 'sections.quick_order_list.product_total' | t }}
                  {%- else -%}
                    <span
                      class='
                        twcss-pr-8 twcss-w-full twcss-relative
                        before:twcss-absolute before:twcss-right-0 before:twcss--top-4 before:twcss-border-l-[6px] before:twcss-border-r-[6px] before:twcss-border-b-[6px] before:twcss-border-l-transparent before:twcss-border-r-transparent before:twcss-border-b-slate-500 before:twcss-w-0 before:twcss-h-0
                        after:twcss-absolute after:twcss-right-0 after:twcss--bottom-4 after:twcss-border-l-[6px] after:twcss-border-r-[6px] after:twcss-border-t-[6px] after:twcss-border-l-transparent after:twcss-border-r-transparent after:twcss-border-t-slate-500 after:twcss-w-0 after:twcss-h-0
                      '
                    >
                      {{ 'sections.quick_order_list.variant_total' | t }}
                    </span>
                  {%- endif -%}
                </th>
                <th
                  class='lg:twcss-flex lg:twcss-flex-col lg:twcss-justify-end lg:twcss-w-[23%] quick-order-list__table-heading--wide small-hide medium-hide caption-with-letter-spacing'
                  scope='col'
                >
                  {%- if product.has_only_default_variant -%}
                  {%- else -%}
                    <span
                      class='
                        twcss-w-full twcss-relative
                        before:twcss-absolute before:twcss-right-0 before:twcss--top-4 before:twcss-border-l-[6px] before:twcss-border-r-[6px] before:twcss-border-b-[6px] before:twcss-border-l-transparent before:twcss-border-r-transparent before:twcss-border-b-slate-500 before:twcss-w-0 before:twcss-h-0
                        after:twcss-absolute after:twcss-right-0 after:twcss--bottom-4 after:twcss-border-l-[6px] after:twcss-border-r-[6px] after:twcss-border-t-[6px] after:twcss-border-l-transparent after:twcss-border-r-transparent after:twcss-border-t-slate-500 after:twcss-w-0 after:twcss-h-0
                      '
                    >
                  {%- endif -%}
                  {{ 'products.product.quantity.label' | t }}
                  {%- if product.has_only_default_variant -%}
                  {%- else -%}
                    </span>
                  {%- endif -%}
                </th>
                <th
                  class='lg:twcss-flex lg:twcss-items-end lg:twcss-w-[20%] quick-order-list__table-heading--wide small-hide medium-hide caption-with-letter-spacing'
                  scope='col'
                >
                  {%- if product.has_only_default_variant -%}
                  {%- else -%}
                    <span
                      class='
                        twcss-pr-8 twcss-w-full twcss-relative
                        before:twcss-absolute before:twcss-right-0 before:twcss--top-4 before:twcss-border-l-[6px] before:twcss-border-r-[6px] before:twcss-border-b-[6px] before:twcss-border-l-transparent before:twcss-border-r-transparent before:twcss-border-b-slate-500 before:twcss-w-0 before:twcss-h-0
                        after:twcss-absolute after:twcss-right-0 after:twcss--bottom-4 after:twcss-border-l-[6px] after:twcss-border-r-[6px] after:twcss-border-t-[6px] after:twcss-border-l-transparent after:twcss-border-r-transparent after:twcss-border-t-slate-500 after:twcss-w-0 after:twcss-h-0
                      '
                    >
                  {%- endif -%}
                  {{ 'sections.cart.headings.price' | t }}
                  {%- if product.has_only_default_variant -%}
                  {%- else -%}
                    </span>
                  {%- endif -%}
                </th>
                <th
                  class='lg:twcss-flex lg:twcss-items-end lg:twcss-w-[20%] small-hide medium-hide right caption-with-letter-spacing'
                  scope='col'
                >
                  {%- if product.has_only_default_variant -%}
                    {{ 'sections.quick_order_list.product_total' | t }}
                  {%- else -%}
                    <span
                      class='
                        twcss-pr-8 twcss-w-full twcss-relative
                        before:twcss-absolute before:twcss-right-0 before:twcss--top-4 before:twcss-border-l-[6px] before:twcss-border-r-[6px] before:twcss-border-b-[6px] before:twcss-border-l-transparent before:twcss-border-r-transparent before:twcss-border-b-slate-500 before:twcss-w-0 before:twcss-h-0
                        after:twcss-absolute after:twcss-right-0 after:twcss--bottom-4 after:twcss-border-l-[6px] after:twcss-border-r-[6px] after:twcss-border-t-[6px] after:twcss-border-l-transparent after:twcss-border-r-transparent after:twcss-border-t-slate-500 after:twcss-w-0 after:twcss-h-0
                      '
                    >
                      {{ 'sections.quick_order_list.variant_total' | t }}
                    </span>
                  {%- endif -%}
                </th>
              </tr>
            </thead>

            <tbody>
              {%- if product.has_only_default_variant -%}
                {%- render 'quick-order-list-row',
                  item: product,
                  image: product.featured_media,
                  sku: product.selected_or_first_available_variant.sku,
                  variant: product.selected_or_first_available_variant,
                  show_image: show_image,
                  show_sku: show_sku,
                  is_modal: is_modal
                -%}
              {%- else -%}
                <p id='variants' class='visually-hidden'>Select all variants to edit</p>
                {%- for variant in product.variants -%}
                  <tr class='twcss-relative twcss-w-full twcss-flex'>
                    <td class='twcss-w-full !twcss-pt-0'>
                      <table class='quick-order-list__table has-[:checked]:twcss-bg-slate-100 twcss-border-b-2 twcss-border-transparent has-[:checked]:twcss-border-slate-200 twcss-p-4'>
                        <tbody>
                          {%- render 'quick-order-list-row',
                            item: variant,
                            image: variant.image,
                            sku: variant.sku,
                            variant: variant,
                            show_image: show_image,
                            show_sku: show_sku,
                            is_modal: is_modal
                          -%}
                          <tr class='twcss-absolute twcss-top-8 lg:twcss-top-2'>
                            <td>
                              <input
                                id='variant-{{ variant.id }}'
                                type='checkbox'
                                name='variant'
                                value='{{ variant.id }}'
                              >
                              <label for='variant-{{ variant.id }}' class='visually-hidden'>
                                {{- item.title | escape -}}
                              </label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {%- endfor -%}
              {%- endif -%}
            </tbody>
          </table>
        </div>
      </div>

      <p
        class='visually-hidden'
        id='quick-order-list-live-region-text-{{ product.id }}'
        aria-live='polite'
        role='status'
      ></p>
      <p
        class='visually-hidden'
        id='shopping-cart-variant-item-status'
        aria-live='polite'
        aria-hidden='true'
        role='status'
      >
        {{ 'accessibility.loading' | t }}
      </p>
    </form>

    {%- if product.has_only_default_variant or product.variants.size == 1 -%}
      <span class='quick-order-list-error'>
        {% comment %} Populated by JS {% endcomment %}
      </span>
    {%- else -%}
      <div
        class='quick-order-list__total{% unless is_modal %} gradient{% endunless %}'
        id='quick-order-list-total-{{ product.id }}-{{ section.id }}'
      >
        <div class='quick-order-list-total__info'>
          <div class='quick-order-list-total__column small-hide medium-hide'>
            <div class='quick-order-list-buttons'>
              <a
                href='{{ routes.cart_url }} '
                class='quick-order-list__button button button--secondary small-hide  medium-hide'
              >
                <span class='quick-order-list__button-text'>{{- 'sections.quick_order_list.view_cart' | t -}}</span>
              </a>
              <div class='variant-remove-total{% if items_in_cart == 0 %} variant-remove-total--empty{% endif %}'>
                {%- render 'loading-spinner' -%}
                <quick-order-list-remove-all-button
                  class='no-js-hidden'
                  data-action='confirm'
                >
                  <button class='button button--tertiary' type='button'>
                    {% render 'icon-remove' %}
                    <span class='text-body'>{{ 'sections.quick_order_list.remove_all' | t }}</span>
                  </button>
                </quick-order-list-remove-all-button>
              </div>
            </div>
            <span class='quick-order-list__message caption-large' role='status'>
              <span class='quick-order-list__message-icon hidden'>{%- render 'icon-checkmark' -%}</span>
              <span class='quick-order-list__message-text'></span>
            </span>
            <span class='quick-order-list-error'>
              {% comment %} Populated by JS {% endcomment %}
            </span>
          </div>
          <div class='quick-order-list__total-items'>
            <span>
              {{ items_in_cart }}
            </span>
            <p class='h5'>{{ 'sections.quick_order_list.total_items' | t }}</p>
          </div>
          <div class='quick-order-list-total__price'>
            <div class='totals__product-total'>
              <span class='totals__subtotal-value'>
                {% comment %} TODO: enable theme-check once `line_items_for` is accepted as valid filter {% endcomment %}
                {% # theme-check-disable %}
                {{ cart | line_items_for: product | sum: 'original_line_price' | money }}
                {% # theme-check-enable %}
              </span>
              <p class='totals__subtotal h5'>{{ 'sections.quick_order_list.product_total' | t }}</p>
            </div>
            <small class='tax-note caption-large rte'>
              {%- if cart.duties_included and cart.taxes_included -%}
                {%- if shop.shipping_policy.body == blank -%}
                  {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
                {%- else -%}
                  {{
                    'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                    | t: link: shop.shipping_policy.url
                  }}
                {%- endif -%}
              {%- elsif cart.duties_included == false and cart.taxes_included -%}
                {%- if shop.shipping_policy.body == blank -%}
                  {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
                {%- else -%}
                  {{
                    'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                    | t: link: shop.shipping_policy.url
                  }}
                {%- endif -%}
              {%- elsif cart.duties_included and cart.taxes_included == false -%}
                {%- if shop.shipping_policy.body == blank -%}
                  {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                {%- else -%}
                  {{
                    'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                    | t: link: shop.shipping_policy.url
                  }}
                {%- endif -%}
              {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
                {%- if shop.shipping_policy.body == blank -%}
                  {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                {%- else -%}
                  {{
                    'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                    | t: link: shop.shipping_policy.url
                  }}
                {%- endif -%}
              {%- endif -%}
            </small>
          </div>
          <div class='quick-order-list-total__column large-up-hide'>
            <div class='quick-order-list-buttons'>
              <a
                href='{{ routes.cart_url }}'
                class='quick-order-list__button button button--secondary button--full-width'
              >
                <span class='quick-order-list__button-text'>{{- 'sections.quick_order_list.view_cart' | t -}}</span>
              </a>
              <div class='variant-remove-total'>
                {%- render 'loading-spinner' -%}
                <quick-order-list-remove-all-button
                  class='no-js-hidden'
                  data-action='confirm'
                >
                  <button class='button button--tertiary' type='button'>
                    {% render 'icon-remove' %}

                    <span class='text-body'>{{ 'sections.quick_order_list.remove_all' | t }}</span>
                  </button>
                </quick-order-list-remove-all-button>
              </div>
            </div>
            <span class='quick-order-list__message caption-large' role='status'>
              <span class='quick-order-list__message-icon hidden'>{%- render 'icon-checkmark' -%}</span>
              <span class='quick-order-list__message-text'></span>
            </span>
            <span class='quick-order-list-error'>
              {% comment %} Populated by JS {% endcomment %}
            </span>
          </div>
        </div>
        <div class='quick-order-list-total__confirmation hidden'>
          <span class='text-body'>
            {{ 'sections.quick_order_list.remove_all_items_confirmation' | t: quantity: items_in_cart }}
          </span>
          <quick-order-list-remove-all-button
            data-action='remove'
          >
            <button
              class='quick-order-list__button-confirm button button--secondary'
              type='button'
            >
              {{- 'sections.quick_order_list.remove_all' | t -}}
            </button>
          </quick-order-list-remove-all-button>
          <quick-order-list-remove-all-button
            data-action='cancel'
          >
            <button
              class='quick-order-list__button-cancel button button--tertiary'
              type='button'
            >
              {{- 'sections.quick_order_list.cancel' | t -}}
            </button>
          </quick-order-list-remove-all-button>
        </div>
      </div>
    {%- endif -%}
  </quick-order-list>
  <template id='QuickOrderListErrorTemplate-{{ product.id }}'>
    <svg
      aria-hidden='true'
      focusable='false'
      class='icon icon-error'
      viewBox='0 0 13 13'
    >
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </svg>
    <span class='quick-order-list-error-message caption-large' role='alert'></span>
  </template>
</div>
