<script src='{{ 'build-a-box.js' | asset_url }}' defer></script>
<script src='{{ 'swiper-bundle.min.js' | asset_url }}' defer></script>
<link rel='stylesheet' type='text/css' href='{{ 'swiper-bundle.min.css' | asset_url }}'>
{% comment %} TODO {% endcomment %}

{% assign collection = collections[section.settings.collection] %}
{% assign additives_collection = collections[section.settings.additives_collection] %}

{% assign subscriptionPlan = section.settings.questionaire_subscription_plan %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class='page-width section-{{ section.id }}-padding page-width-desktop scroll-trigger animate--slide-in xmt-8 xmb-8 xflex xgap-16 xflex-col md:xflex-row'>
  <div class='ur-product-images xrelative md:xmt-32'>
    <div class='!xsticky xtop-0'>
      <div class='swiper ur-bab-swiper '>
        <div class='swiper-wrapper'>
          {% for product in collection.products %}
            <div class='swiper-slide !xflex xjustify-center xitems-center'>
              {% if product.image != null %}
                <img
                  height='500'
                  width='auto'
                  loading='lazy'
                  src='{{ product.image.src | img_url: "x500" }}'
                  alt='{{ product.image.alt | escape }}'
                >
              {% else %}
                <img
                  height='500'
                  width='auto'
                  loading='lazy'
                  src='{{ product.featured_image | img_url: "x500" }}'
                  alt='{{ product.title | escape }}'
                >
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class='swiper-pagination'></div>
        <div class='swiper-button-prev'></div>
        <div class='swiper-button-next'></div>
      </div>
      <div class='xmb-8'>
        <div
          id='questionnaire-cta'
          class='xmy-16 xbg-lightbeige xrounded-3xl xp-8 xflex xflex-wrap xgap-8 xjustify-between xitems-center'
        >
          <div class='richtext cta-richtext  xfont-black xtext-2xl ' style="font-family: 'Rooney';">
            {{ section.settings.questionaire_info_text }}
          </div>
          <div class='cta-container'>
            {%- if section.settings.questionaire_button_label != blank -%}
              <a
                {% if section.settings.questionaire_button_link == blank %}
                  role='link' aria-disabled='true'
                {% else %}
                  href='{{ section.settings.questionaire_button_link }}'
                {% endif %}
                class='button button--secondary'
              >
                {{ section.settings.questionaire_button_label | escape }}
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <form id='add-box-to-cart-form' class='md:xmax-w-2xl  xpx-4 md:xpx-2 md:xpx-0'>
    <h2 class=' xmt-16  xfont-black xtext-6xl xmb-8'>Build-a-Box</h2>

    <script>
      window.ur_subscription_variants = [];
      window.ur_subscription_products = [];
      window.ur_subscription_plan = '{{ subscriptionPlan }}';
      window.ur_selected_variant_option = '800g';
      window.ur_quantity_break_target = 24;
    </script>

    <div class='xmb-8'>
      {{ section.settings.instruction_text }}
    </div>

    <div class='variant-selector xmb-8'>
      <button type='button' class='option-btn' data-option='400g'>400g</button>
      <button type='button' class='option-btn active' data-option='800g'>800g</button>
    </div>

    <div class='main-collection-select'>
      {% assign preselectedValue = 0 %}

      {% for product in collection.products %}
        {%- liquid
          assign custom_classes_product = ''
          assign mod2 = forloop.index | modulo: 2
          if mod2 != 0
            assign custom_classes_product = custom_classes_product | append: ' xbg-lightbeige  second'
          endif

          assign content_information = product.metafields.custom.content_information
        -%}

        {%- liquid
          if forloop.index == 1
            assign preselectedValue = 1
          elsif forloop.index == 2
            assign preselectedValue = 1
          else
            assign preselectedValue = 0
          endif
        -%}

        <div
          class='product-item ur-product xp-4 {{ custom_classes_product }} xrounded-3xl xoverflow-hidden last-of-type:xborder-none'
          data-product-index='{{ forloop.index }}'
        >
          {% for variant in product.variants %}
            {% if variant.option2 == 'Einzeln' %}
              {%- liquid
                assign custom_classes_variant = ''
                assign preselectedValueVariant = 0
                if variant.option1 == '400g'
                  assign custom_classes_variant = custom_classes_variant | append: 'xhidden '
                  assign preselectedValueVariant = 0
                else
                  if preselectedValue == 1
                    assign preselectedValueVariant = 1
                  else
                    assign preselectedValueVariant = 0
                  endif
                endif
              -%}

              <div
                class='variant ur-variant {{ custom_classes_variant }}  xflex xgap-4 xitems-center'
                data-option='{{ variant.option1 }}'
              >
                <div class='variant-img  xrounded-lg xoverflow-hidden'>
                  {% if variant.image != null %}
                    <img
                      class='  xw-16 md:xw-auto  xobject-contain'
                      style='height: 65px;     max-width: 400px;'
                      height='100'
                      width='auto'
                      loading='lazy'
                      src='{{ variant.image.src | img_url: 'medium' }}'
                      alt='{{ variant.image.alt | escape }}'
                    >
                  {% else %}
                    <img
                      class='  xw-16 md:xw-auto  xobject-contain'
                      style='height: 65px;     max-width: 400px;'
                      height='100'
                      width='auto'
                      loading='lazy'
                      src='{{ product.featured_image | img_url: 'medium' }}'
                      alt='{{ product.title | escape }}'
                    >
                  {% endif %}
                </div>
                <div class='variant-info xflex xgap-4 xjustify-between xw-full xitems-center'>
                  <h2 class='xfont-bold xtext-3xl  xw-full'>
                    {{ product.title | split: ' ' | first }}
                    <svg
                      class='variant-info-{{variant.id}} xmt-2 xopacity-30 hover:xopacity-60 xcursor-pointer xtransition-all xinline-block xfloat-right xmt-1'
                      xmlns='http://www.w3.org/2000/svg'
                      x='0px'
                      y='0px'
                      width='14'
                      height='14'
                      viewBox='0 0 128 128'
                    >
                      <path d="M 64 6 C 32 6 6 32 6 64 C 6 96 32 122 64 122 C 96 122 122 96 122 64 C 122 32 96 6 64 6 z M 64 12 C 92.7 12 116 35.3 116 64 C 116 92.7 92.7 116 64 116 C 35.3 116 12 92.7 12 64 C 12 35.3 35.3 12 64 12 z M 64 30 A 9 9 0 0 0 64 48 A 9 9 0 0 0 64 30 z M 64 59 C 59 59 55 63 55 68 L 55 92 C 55 97 59 101 64 101 C 69 101 73 97 73 92 L 73 68 C 73 63 69 59 64 59 z"></path>
                    </svg>
                    <br>
                    <span class='xfont-bold xtext-xl '>
                      {{- product.title | split: ' ' | slice: 1, 100 | join: ' ' -}}
                    </span>
                  </h2>

                  <input type='hidden' class='variant-id' value='{{ variant.id }}' data-collection='main'>

                  <div class='custom-number-input xh-20  xw-64'>
                    <div class='xflex xflex-row xh-20 xw-full xrounded-lg xrelative xbg-transparent xmt-1'>
                      <button
                        type='button'
                        data-action='decrement'
                        class='  xh-full  xw-64 xrounded-full hover:xbg-beige-300 xtransition-all xcursor-pointer xoutline-none'
                      >
                        <span class='xpx-4 xm-auto xtext-4xl xfont-bold'>−</span>
                      </button>
                      <input
                        id='quantity_{{ variant.id }}'
                        type='number'
                        class='variant-quantity xrounded-lg xoutline-none focus:xoutline-none xtext-center xw-full  xfont-semibold xtext-md hover:xtext-black focus:xtext-black  md:xtext-basecursor-default xflex xitems-center xtext-black  xoutline-none {{ custom_classes_product }} xbg-white'
                        name='custom-input-number'
                        value='{{ preselectedValueVariant }}'
                        min='0'
                        data-product-option-id='{{ product.id }}-{{ variant.option1 }}'
                      >
                      <button
                        type='button'
                        data-action='increment'
                        class=' xh-full  xw-64 xrounded-full hover:xbg-beige-300 xtransition-all xcursor-pointer'
                      >
                        <span class='xpx-4 xm-auto xtext-4xl xfont-bold'>+</span>
                      </button>
                    </div>
                  </div>
                  <script defer src='https://unpkg.com/@popperjs/core@2'></script>
                  <script defer src='https://unpkg.com/tippy.js@6'></script>
                  <script>
                    // With the above scripts loaded, you can call `tippy()` with a CSS
                    // selector and a `content` prop:
                    tippy('.variant-info-{{variant.id}}', {
                      content: '{{content_information | metafield_tag }}',
                      allowHTML: true,
                      interactive: true,
                      theme: 'unclerustys',
                    });
                  </script>

                  <script>
                    window.ur_subscription_variants['{{ variant.id }}'] = {{ variant | json }};
                  </script>
                  {% if variant.selling_plan_allocations.size > 0 %}
                    {% for allocation in variant.selling_plan_allocations %}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
          <script>
            window.ur_subscription_products['{{ product.id }}'] = {{ product | json }};
          </script>
        </div>
      {% endfor %}
    </div>
    <h3 class='xmt-8 xmb-4'>Ergänzende Produkte:</h3>
    <div class='additives-collection-select'>
      {% assign preselectedValue = 0 %}

      {% for product in additives_collection.products %}
        {%- liquid
          assign custom_classes_product = ''
          assign mod2 = forloop.index | modulo: 2
          if mod2 != 0
            assign custom_classes_product = custom_classes_product | append: ' xbg-lightbeige  second'
          endif
        -%}

        {%- liquid
          if forloop.index == 1
            assign preselectedValue = 1
          elsif forloop.index == 2
            assign preselectedValue = 1
          else
            assign preselectedValue = 0
          endif
        -%}

        <div
          class='product-item ur-product additive xp-4 {{ custom_classes_product }} xrounded-3xl xoverflow-hidden last-of-type:xborder-none'
          data-product-index='{{ forloop.index }}'
        >
          {% for variant in product.variants %}
            {%- liquid
              assign custom_classes_variant = ''
              assign preselectedValueVariant = 0
              if variant.option1 == '400g'
                assign custom_classes_variant = custom_classes_variant | append: 'xhidden '
                assign preselectedValueVariant = 0
              else
                if preselectedValue == 1
                  assign preselectedValueVariant = 1
                else
                  assign preselectedValueVariant = 0
                endif
              endif
            -%}

            <div
              class='variant ur-variant {{ custom_classes_variant }}  xflex xgap-4 xitems-center'
              data-option='{{ variant.option1 }}'
            >
              <div class='variant-img  xrounded-lg xoverflow-hidden'>
                {% if variant.image != null %}
                  <img
                    class='  xw-16 md:xw-auto  xobject-contain'
                    style='height: 65px;     max-width: 400px;'
                    height='100'
                    width='auto'
                    loading='lazy'
                    src='{{ variant.image.src | img_url: 'medium' }}'
                    alt='{{ variant.image.alt | escape }}'
                  >
                {% else %}
                  <img
                    class='  xw-16 md:xw-auto  xobject-contain'
                    style='height: 65px;     max-width: 400px;'
                    height='100'
                    width='auto'
                    loading='lazy'
                    src='{{ product.featured_image | img_url: 'medium' }}'
                    alt='{{ product.title | escape }}'
                  >
                {% endif %}
              </div>
              <div class='variant-info xflex xgap-4 xjustify-between xw-full xitems-center'>
                <h2 class='xfont-bold xtext-3xl'>{{ product.title }}</h2>

                <input type='hidden' class='variant-id' value='{{ variant.id }}' data-collection='additives'>

                <div class='custom-number-input xh-20  xw-64'>
                  <div class='xflex xflex-row xh-20 xw-full xrounded-lg xrelative xbg-transparent xmt-1'>
                    <button
                      type='button'
                      data-action='decrement'
                      class='  xh-full  xw-64 xrounded-full hover:xbg-beige-300 xtransition-all xcursor-pointer xoutline-none'
                    >
                      <span class='xpx-4 xm-auto xtext-4xl xfont-bold'>−</span>
                    </button>
                    <input
                      id='quantity_{{ variant.id }}'
                      type='number'
                      class='variant-quantity xrounded-lg xoutline-none focus:xoutline-none xtext-center xw-full  xfont-semibold xtext-md hover:xtext-black focus:xtext-black  md:xtext-basecursor-default xflex xitems-center xtext-black  xoutline-none {{ custom_classes_product }} xbg-white'
                      name='custom-input-number'
                      value='{{ preselectedValueVariant }}'
                      min='0'
                    >
                    <button
                      type='button'
                      data-action='increment'
                      class=' xh-full  xw-64 xrounded-full hover:xbg-beige-300 xtransition-all xcursor-pointer'
                    >
                      <span class='xpx-4 xm-auto xtext-4xl xfont-bold'>+</span>
                    </button>
                  </div>
                </div>

                <script>
                  window.ur_subscription_variants['{{ variant.id }}'] = {{ variant | json }};
                </script>
                {% if variant.selling_plan_allocations.size > 0 %}
                  {% for allocation in variant.selling_plan_allocations %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <script>
            window.ur_subscription_products['{{ product.id }}'] = {{ product | json }};
          </script>
        </div>
      {% endfor %}
    </div>

    <div class='plan-selector xborder-2 xrounded-3xl xmt-8 xfont-semibold xborder-beige-300'>
      <div data-plan='' class='plan-selector-btn xcursor-pointer   xp-4 xflex xgap-4 xitems-center'>
        <div class='!xflex xitems-center xjustify-center xrounded-full xw-6 xh-6 xborder-2 xborder-beige-300'>
          <div class='select-indicator xrounded-full xp-1 xbg-black '></div>
        </div>
        <span> Einmalige Bestellung </span>
      </div>
      <div
        data-plan='{{ subscriptionPlan }}'
        class='plan-selector-btn active xcursor-pointer xp-4 xflex xgap-4 xborder-t-2 xborder-beige-300 xitems-center'
      >
        <div class='!xflex xitems-center xjustify-center xrounded-full xw-6 xh-6 xborder-2 xborder-beige-300'>
          <div class='select-indicator xrounded-full xp-1 xbg-black'></div>
        </div>
        <span> Monatliche Lieferung </span>
        <div class='xbg-green-600 xtext-white xrounded-full xtext-sm xp-2 xpx-4'>Spare 10%!</div>
      </div>
    </div>

    <div class='ur-form-footer xbg-white xmt-8 xrounded-3xl xoverflow-clip'>
      <div
        class='quantity-break-target xbg-orange-600 xtext-white xrounded-t-lg xp-4 xfont-bold xtext-center xrelative'
        style='font-size: 1.3rem;'
      >
        Füge <span class='quantity-break-counter xfont-black' style='font-size: 1.5rem;'>22</span> Dosen hinzu um
        weitere 5% zu sparen!
        <div class='quantity-break-progress-container xabsolute xbottom-0 xleft-0 xh-2 xw-full'>
          <div class='quantity-break-progress-bar xbg-green-600 xh-2 !xblock xtransition-all' style='width: 8%;'></div>
        </div>
      </div>
      <div
        class='quantity-break-applied xhidden xbg-green-600 xtext-white xrounded-t-lg xp-4 xfont-bold xtext-center'
      >
        Maximale Rabatte aktiviert!
      </div>
      <div class='xp-8'>
        <div class='footer-top xflex xgap-4 xitems-end xjustify-between'>
          <div class='price-display xtext-5xl xfont-black xtext-black'>
            <span class='price-total '>0.00</span><span>€</span>
            <div class='price-display-compare xhidden xinline-block xtext-3xl xtext-beige-900 xline-through'>
              <span class='price-compare-at'>0.00</span><span>€</span>
            </div>
          </div>
          <div class='xtext-right' style='font-size: 1.2rem;'>
            <div><span class='total-quantity-couunt xfont-bold'>2</span><span> Dosen</span></div>
            <div>
              <span class='single-item-price-count xfont-bold'>4.05</span><span class='xfont-bold'> €</span
              ><span> pro Dose</span>
            </div>
          </div>
        </div>
        <div class='footer-info xtext-lg xborder-t xmt-8 xpt-4'>
          (<span class='unit-price-display'></span> € / kg) {{ section.settings.below_price_info }}
        </div>
        <button type='submit' id='add-box-to-cart' class='ur-button xw-full xmt-8'>In den Warenkorb</button>
      </div>
    </div>
  </form>
</div>

{% schema %}
{
  "name": "Uncle Rustys Build a Box",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "collection",
      "id": "additives_collection",
      "label": "Additives Collection"
    },
    {
      "type": "number",
      "id": "questionaire_subscription_plan",
      "default": 689522049319,
      "label": "Subscription Plan ID"
    },
    {
      "type": "richtext",
      "id": "instruction_text",
      "label": "Instruction Text",
      "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>"
    },
    {
      "type": "richtext",
      "id": "questionaire_info_text",
      "label": "Questionaire Info",
      "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>"
    },
    {
      "type": "text",
      "id": "questionaire_button_label",
      "default": "Button label",
      "label": "Questionaire Button Label"
    },
    {
      "type": "url",
      "id": "questionaire_button_link",
      "label": "Questionaire Button Link"
    },
    {
      "type": "text",
      "id": "below_price_info",
      "label": "Below Price Info",
      "default": "inkl. MwSt., zzgl. Versandkosten"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Uncle Rustys Build a Box"
    }
  ]
}
{% endschema %}
