<script src='{{ 'build-a-box.js' | asset_url }}' defer></script>
<script src='{{ 'swiper-bundle.min.js' | asset_url }}' defer></script>
<link rel='stylesheet' type='text/css' href='{{ 'swiper-bundle.min.css' | asset_url }}'>

{% assign collection = collections[section.settings.collection] %}
{% assign subscriptionPlan = 689522049319 %}

<div class='page-width page-width-desktop scroll-trigger animate--slide-in xmt-8 xflex xgap-16'>
  <div class='ur-product-images ' style='width: calc(100% - 46rem);'>
    <div class='swiper ur-bab-swiper '>
      <div class='swiper-wrapper'>
        {% for product in collection.products %}
          <div class='swiper-slide !xflex xjustify-center xitems-center'>
            {% if product.image != null %}
              <img
                height='500'
                width='auto'
                loading='lazy'
                src='{{ product.image.src | img_url: "x500" }}'
                alt='{{ product.image.alt | escape }}'
              >
            {% else %}
              <img
                height='500'
                width='auto'
                loading='lazy'
                src='{{ product.featured_image | img_url: "x500" }}'
                alt='{{ product.title | escape }}'
              >
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class='swiper-pagination'></div>
      <div class='swiper-button-prev'></div>
      <div class='swiper-button-next'></div>
    </div>
  </div>
  <form id='add-box-to-cart-form' class=' xmax-w-2xl xpx-2 md:xpx-0'>
    <h2 class=' xmt-16 xfont-bold xtext-6xl xmb-8'>Build-a-Box</h2>

    <script>
      window.ur_subscription_variants = [];
      window.ur_subscription_products = [];
      window.ur_subscription_plan = '{{ subscriptionPlan }}';
      window.ur_selected_variant_option = '800g';
      window.ur_quantity_break_target = 24;
    </script>

    <div class='xmb-8'>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua.
      </p>
    </div>

    <div class='variant-selector xmb-8'>
      <button type='button' class='option-btn' data-option='400g'>400g</button>
      <button type='button' class='option-btn active' data-option='800g'>800g</button>
    </div>

    {% assign preselectedValue = 0 %}

    {% for product in collection.products %}
      {%- liquid
        assign custom_classes_product = ''
        assign mod2 = forloop.index | modulo: 2
        if mod2 != 0
          assign custom_classes_product = custom_classes_product | append: 'xbg-gray-100 '
        endif
      -%}
      {%- liquid
        if forloop.index == 1
          assign preselectedValue = 1
        elsif forloop.index == 2
          assign preselectedValue = 1
        else
          assign preselectedValue = 0
        endif
      -%}

      <div
        class='product-item ur-product xp-4 {{ custom_classes_product }} xoverflow-hidden xrounded-2xl'
        data-product-index='{{ forloop.index }}'
      >
        {% for variant in product.variants %}
          {%- liquid
            assign custom_classes_variant = ''
            assign preselectedValueVariant = 0
            if variant.option1 == '400g'
              assign custom_classes_variant = custom_classes_variant | append: 'xhidden '
              assign preselectedValueVariant = 0
            else
              if preselectedValue == 1
                assign preselectedValueVariant = 1
              else
                assign preselectedValueVariant = 0
              endif
            endif
          -%}

          <div
            class='variant ur-variant {{ custom_classes_variant }} xflex xgap-4 xitems-center'
            data-option='{{ variant.option1 }}'
          >
            <div class='variant-img  xrounded-lg xoverflow-hidden'>
              {% if variant.image != null %}
                <img
                  style='height: 65px;     max-width: 400px;'
                  height='100'
                  width='auto'
                  loading='lazy'
                  src='{{ variant.image.src | img_url: 'medium' }}'
                  alt='{{ variant.image.alt | escape }}'
                >
              {% else %}
                <img
                  style='height: 65px;     max-width: 400px;'
                  height='100'
                  width='auto'
                  loading='lazy'
                  src='{{ product.featured_image | img_url: 'medium' }}'
                  alt='{{ product.title | escape }}'
                >
              {% endif %}
            </div>
            <div class='variant-info xflex xgap-4 xjustify-between xw-full xitems-center'>
              <h2 class='xfont-bold xtext-3xl'>{{ product.title }}</h2>

              <input type='hidden' class='variant-id' value='{{ variant.id }}'>

              <div class='custom-number-input xh-20  xw-64'>
                <div class='xflex xflex-row xh-20 xw-full xrounded-lg xrelative xbg-transparent xmt-1'>
                  <button
                    type='button'
                    data-action='decrement'
                    class='  xh-full  xw-64 xrounded-full hover:xbg-gray-200 xtransition-all xcursor-pointer xoutline-none'
                  >
                    <span class='xpx-4 xm-auto xtext-4xl xfont-bold'>−</span>
                  </button>
                  <input
                    id='quantity_{{ variant.id }}'
                    type='number'
                    class='variant-quantity xrounded-lg xoutline-none focus:xoutline-none xtext-center xw-full  xfont-semibold xtext-md hover:xtext-black focus:xtext-black  md:xtext-basecursor-default xflex xitems-center xtext-gray-700  xoutline-none {{ custom_classes_product }}'
                    name='custom-input-number'
                    value='{{ preselectedValueVariant }}'
                    min='0'
                  >
                  <button
                    type='button'
                    data-action='increment'
                    class=' xh-full  xw-64 xrounded-full hover:xbg-gray-200 xtransition-all xcursor-pointer'
                  >
                    <span class='xpx-4 xm-auto xtext-4xl xfont-bold'>+</span>
                  </button>
                </div>
              </div>

              <script>
                window.ur_subscription_variants['{{ variant.id }}'] = {{ variant | json }};
              </script>
              {% if variant.selling_plan_allocations.size > 0 %}
                {% for allocation in variant.selling_plan_allocations %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <script>
          window.ur_subscription_products['{{ product.id }}'] = {{ product | json }};
        </script>
      </div>
    {% endfor %}

    <div class='plan-selector xborder xrounded-lg xmt-8'>
      <div data-plan='' class='plan-selector-btn xcursor-pointer   xp-4 xflex xgap-4 xitems-center'>
        <div class='!xflex xitems-center xjustify-center xrounded-full xw-6 xh-6 xborder-2 xborder-black'>
          <div class='select-indicator xrounded-full xp-1 xbg-black '></div>
        </div>
        <span> Einmalige Bestellung </span>
      </div>
      <div
        data-plan='{{ subscriptionPlan }}'
        class='plan-selector-btn active xcursor-pointer xp-4 xflex xgap-4 xborder-t xitems-center'
      >
        <div class='!xflex xitems-center xjustify-center xrounded-full xw-6 xh-6 xborder-2 xborder-black'>
          <div class='select-indicator xrounded-full xp-1 xbg-black'></div>
        </div>
        <span> Monatliche Lieferung </span>
        <div class='xbg-green-500 xtext-white xrounded-full xtext-sm xp-2 xpx-4'>Spare 10%!</div>
      </div>
    </div>
    <div class='ur-form-footer xbg-white xmt-8 xrounded-lg xborder xmb-8 xoverflow-clip'>
      <div
        class='quantity-break-target xbg-amber-500 xtext-white xrounded-t-lg xp-4 xfont-bold xtext-center xrelative'
        style='font-size: 1.3rem;'
      >
        Füge <span class='quantity-break-counter xfont-black' style='font-size: 1.5rem;'>22</span> Dosen hinzu um
        weitere 5% zu sparen!
        <div class='quantity-break-progress-container xabsolute xbottom-0 xleft-0 xh-2 xw-full'>
          <div class='quantity-break-progress-bar xbg-green-500 xh-2 !xblock xtransition-all' style='width: 8%;'></div>
        </div>
      </div>
      <div
        class='quantity-break-applied xhidden xbg-green-500 xtext-white xrounded-t-lg xp-4 xfont-bold xtext-center'
      >
        Maximale Rabatte aktiviert!
      </div>
      <div class='xp-8'>
        <div class='footer-top xflex xgap-4 xitems-end xjustify-between'>
          <div class='price-display xtext-5xl xfont-black xtext-gray-900'>
            <span class='price-total '>0.00</span><span>€</span>
            <div class='price-display-compare xhidden xinline-block xtext-3xl xtext-gray-500 xline-through'>
              <span class='price-compare-at'>0.00</span><span>€</span>
            </div>
          </div>
          <div class='xtext-right' style='font-size: 1.2rem;'>
            <div><span class='total-quantity-couunt xfont-bold'>2</span><span> Dosen</span></div>
            <div>
              <span class='single-item-price-count xfont-bold'>4.05</span><span class='xfont-bold'> €</span
              ><span> pro Dose</span>
            </div>
          </div>
        </div>
        <div class='footer-info xtext-lg xborder-t xmt-8 xpt-4'>
          (<span class='unit-price-display'></span> € / kg) {{ section.settings.below_price_info }}
        </div>
        <button type='submit' id='add-box-to-cart' class='ur-button xw-full xmt-8'>In den Warenkorb</button>
      </div>
    </div>
  </form>
</div>

{% schema %}
{
  "name": "Uncle Rustys Build a Box",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "below_price_info",
      "label": "Below Price Info",
      "default": "inkl. MwSt., zzgl. Versandkosten"
    }
  ]
}
{% endschema %}
