{% assign upsell_product_handle = section.settings.upsell_product %}
{% assign show_upsell = true %}

{% for item in cart.items %}
  {% if item.product.handle == upsell_product_handle %}
    {% assign show_upsell = false %}
    {% break %}
  {% endif %}
{% endfor %}

{% if show_upsell %}
  {% assign upsell_product = all_products[upsell_product_handle] %}
  {% if upsell_product %}
    <div class='page-width page-width-desktop'>
      <div class='cart-upsell xmt-8 xflex xflex-wrap xgap-16 xbg-lightbeige xrounded-3xl xp-8 xitems-center xjustify-between'>
        {% if upsell_product.featured_image %}
          <img
            width='auto'
            height='90'
            loading='eager'
            src='{{ upsell_product.featured_image | img_url: '300x' }}'
            alt='{{ upsell_product.title }}'
            class='xmax-w-[120px]'
          >
        {% endif %}
        <div class='content xflex-1'>
          {{ section.settings.text }}
          <form action='/cart/add' method='post'>
            <input type='hidden' name='id' value='{{ upsell_product.variants.first.id }}'>
            <input type='submit' value='{{ section.settings.cta_text }}' class='cta-button btn button xmt-8'>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Cart Upsell",
  "settings": [
    {
      "type": "product",
      "id": "upsell_product",
      "label": "Select a product"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<h3>Schon unsere handgemachten Kekse probiert?</h3><p>Lege jetzt noch das Probierpaket für unsere Snacks in den Warenkorb.</p>"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Button Text",
      "default": "Jetzt hinzufügen"
    }
  ],
  "presets": [
    {
      "name": "Uncle Rustys Cart Upsell"
    }
  ]
}
{% endschema %}
