{% schema %}
{
  "name": "Fullwidth Banner",
  "settings": [
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "background_image"
    },
    {
      "type": "richtext",
      "label": "Content",
      "id": "content",
      "default": "<p>Test Text</p>"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link"
    },
    {
      "type": "text",
      "label": "Button2 Text",
      "id": "button2_text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "label": "Button2 Link",
      "id": "button2_link"
    },
    {
      "type": "select",
      "id": "newsletter",
      "label": "Show Newsletter Subscription Form",
      "options": [
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "light",
          "label": "Light"
        }
      ],
      "default": "light"
    }
  ],
  "presets": [
    {
      "name": "UR Fullwidth Banner",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div
  class='fullwidth-banner xmin-h-[400px]'
  style="background-image: url('{{ section.settings.background_image.src | img_url: "x1920" }}');"
>
  <div class='xpt-16'>
    <div class='xflex xitems-start xflex-col xjustify-center container page-width xtext-white xp-8  xmin-h-[400px] '>
      <div class='richtext xp-8 !xtext-beige-200 beige richtext-fullwidth xfont-semibold'>
        {{ section.settings.content }}
      </div>
      <div class='xflex xgap-8 xflex-wrap xpx-8 xmb-16'>
        <a
          href='{{ section.settings.button_link }}'
          class='button beige'
        >
          {{- section.settings.button_text -}}
        </a>
        {% if section.settings.button2_text != blank %}
          <a
            href='{{ section.settings.button2_link }}'
            class='button'
          >
            {{- section.settings.button2_text -}}
          </a>
        {% endif %}
        {% if section.settings.newsletter %}
          <div class='newsletter-form__field-wrapper'>
            <div class='field'>
              <input
                id='NewsletterForm'
                type='email'
                name='contact[email]'
                class='field__input'
                value=''
                aria-required='true'
                autocorrect='off'
                autocapitalize='off'
                autocomplete='off'
                placeholder='E-Mail'
                required=''
                style='width: 335px;'
              >
              <label class='field__label' for='NewsletterForm'> E-Mail </label>
              <button
                type='button'
                class='newsletter-form__button field__button'
                name='commit'
                id='Subscribe'
                aria-label='Abonnieren'
              >
                <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                  <path d="M11.293 17.293L12.707 18.707L19.414 12L12.707 5.29297L11.293 6.70697L15.586 11H6V13H15.586L11.293 17.293Z" fill="currentColor"></path>
                </svg>
              </button>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  /* Custom CSS styles for the Fullwidth Banner section */
  .fullwidth-banner {
    /* Add your background styles here */
    background-size: cover;
    background-position: center;
    /* Adjust other styles as needed */
  }

  .fullwidth-banner-content {
    /* Add styles for the content container */
  }

  .richtext {
    /* Add styles for the rich text content */
  }

  .fullwidth-banner-button {
    /* Add styles for the button */
  }
</style>
