<div class='hero-container'>
  <div class='swiper ur-hero-swiper '>
    <div class='swiper-wrapper'>
      {% for block in section.blocks %}
        <div class='swiper-slide !xflex xjustify-center xitems-center'>
          {% if block.settings.hero_image != null %}
            <img
              class='hero-image'
              height='auto'
              width='auto'
              src='{{ block.settings.hero_image.src | img_url: "x1920" }}'
              alt='{{ block.settings.hero_image.src | escape }}'
            >
          {% endif %}
          <div class='hero-slide-content page-width xw-full xh-full xflex xflex-col xjustify-center'>
            <div class='richtext {% if block.settings.theme_mode == 'dark' %}{% else %}!xtext-beige-200{% endif %}  beige xmb-40 richtext-hero'>
              {{ block.settings.hero_text }}
              <a
                href='{{ block.settings.button_link }}'
                class='button  {% if block.settings.theme_mode == 'dark' %}{% else %}beige{% endif %} xmt-8'
              >
                {{- block.settings.button_label -}}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class='swiper-pagination'></div>
    <div class='swiper-button-prev ur-prev-hero'></div>
    <div class='swiper-button-next ur-next-hero'></div>
    <svg
      id='hero-mountains'
      data-name='Ebene 1'
      xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'
      viewBox='0 0 1842 180'
    >
      <defs><style>.a8364b8b-29d2-46b8-a774-e576b7b9fd4f{fill:url(#b39b1114-3bc5-4f27-9112-bae96cf7d8ac);}</style><linearGradient id="b39b1114-3bc5-4f27-9112-bae96cf7d8ac" x1="921" y1="604.39" x2="921" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f2eee3"/><stop offset="1" stop-color="#f2eee3"/></linearGradient></defs><title>mountains_web2</title><path id="eaea66b3-1228-4d5a-bd68-8ac09bec6ce4" data-name="mountains_4" class="a8364b8b-29d2-46b8-a774-e576b7b9fd4f" d="M0,131C673-41.25,384.16-44.2,886.69,125.46c112.52,31.39,348.24-88.72,441.82-45.53a153.25,153.25,0,0,0,100.27-10.37C1542.65,9.41,1576.92,4.22,1648.09,36L1842,117.2V604.39H0Z"/>
    </svg>
  </div>
</div>

{% javascript %}
  document.addEventListener('DOMContentLoaded', (event) => {
    const swiperConfig = {
      loop: true,
      autoplay: {
        delay: 5000,
      },
      navigation: {
        nextEl: '.ur-next-hero',
        prevEl: '.ur-prev-hero',
      },
      pagination: {
        el: '.swiper-pagination',
      },
    };

    //Swiper Init
    const swiper = new Swiper('.ur-hero-swiper', swiperConfig);
  });
{% endjavascript %}

{% schema %}
{
  "name": "UR Hero Slider",
  "blocks": [
    {
      "type": "hero-slide",
      "name": "Hero Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Select Image"
        },
        {
          "type": "richtext",
          "id": "hero_text",
          "label": "Rich Text Content",
          "default": "<h1>Your Heading Here</h1><p>Your description here.</p>"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Learn More"
        },
        {
          "type": "select",
          "id": "theme_mode",
          "label": "Select Theme Mode",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ],
          "default": "light"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UR Hero Slider",
      "blocks": [
        {
          "type": "hero-slide"
        }
      ]
    }
  ]
}
{% endschema %}
