{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{settings.media_shadow_vertical_offset | at_least: 0}}px + 2rem);
    }
  }
{%- endstyle -%}

<div class='collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient'>
  <div class='collection-hero__inner page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}'>
    <div class='collection-hero__text-wrapper'>
      {% if collection.id != blank %}
        <a
          href='/collections/all'
          class=' xfont-semibold xtext-beige-400 hover:xtext-beige-700 xtransition-all xflex xgap-4 xitems-center xmt-8'
          style="font-family: 'Rooney';"
        >
          <span class='back'>{% render 'icon-arrow' %} </span> Zurück zum gesamten Sortiment
        </a>
      {% endif %}
      <h1 class='collection-hero__title'>
        <span class='visually-hidden'>{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>
      <script>
        console.log({{ collection | json }});
      </script>

      {%- if section.settings.show_collection_description -%}
        <div class='collection-hero__description rte'>{{ collection.description }}</div>
      {%- endif -%}

      {% if collection.id == blank %}
        <div class=' xgrid xgrid-cols-4 xgap-8'>
          {% for block in section.blocks %}
            <a
              href='{{ block.settings.block_link }}'
              class=' ur-collection-card xcard xrounded-3xl xp-8 xborder-lightbeige xborder-2 xflex xgap-8 xitems-center xtransition-all xbg-{{ block.settings.background_color }}'
            >
              {% if block.settings.block_image != blank %}
                <img
                  src='{{ block.settings.block_image | img_url: '300x' }}'
                  alt=''
                  class=' xobject-cover'
                  width='60'
                  height='60'
                  loading='lazy'
                >
              {% endif %}

              <div class='xflex xgap-8 xflex-1 xitems-center'>
                <h2 class=' !xtext-beige-200 !wxdecoration-beige-200'>
                  {{ block.settings.block_text }}
                </h2>
                <span class=' xfill-beige-200 !xtext-beige-200'>{% render 'icon-arrow' %} </span>
              </div>
            </a>
          {% endfor %}
        </div>
      {% else %}

      {% endif %}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class='collection-hero__image-container media gradient'>
        <img
          srcset='
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          '
          src='{{ collection.image | image_url: width: 750 }}'
          sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)'
          alt=''
          width='{{ collection.image.width }}'
          height='{{ collection.image.height }}'
        >
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ],
  "blocks": [
    {
      "type": "content_block",
      "name": "Card",
      "settings": [
        {
          "type": "url",
          "id": "block_link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "block_text",
          "label": "Text",
          "default": "Nassfutter"
        },
        {
          "type": "select",
          "label": "Background Color",
          "id": "background_color",
          "options": [
            {
              "value": "red",
              "label": "UR Red"
            },
            {
              "value": "green",
              "label": "UR Green"
            },
            {
              "value": "purple",
              "label": "UR Purple"
            },
            {
              "value": "orange",
              "label": "UR Orange"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
