{% comment %}
  This is the section for 'Uncle Rustys Questionnaire'.
{% endcomment %}

<!-- Uncle Rustys Questionnaire Section -->
<script src='{{ 'questionaire.js' | asset_url }}' defer></script>
<section id='uncle-rustys-questionnaire'>
  <div class='page-width  xmin-h-[50vh] xflex xflex-col'>
    {% for block in section.blocks %}
      <div
        data-slide='{{ block.type }}'
        data-active='{% if forloop.first %}true{% else %}false{% endif %}'
        data-type='{{ forloop.index }}'
        class='questionaire-slide xflex-1 xflex xflex-col xjustify-center xgap-16 {% unless forloop.first %}xhidden{% endunless %}'
      >
        {% case block.type %}
          {% when 'name-question' %}
            <div class='name-question'>
              <form class='xflex xflex-col xgap-16'>
                <label
                  for='{{ block.id }}-text'
                  class='xfont-semibold xtext-6xl'
                  style="font-family: 'Rooney';"
                >
                  {{- block.settings.question_text -}}
                </label>
                <input
                  type='text'
                  required
                  id='{{ block.id }}-text'
                  placeholder='{{ block.settings.placeholder_text }}'
                  class='!xbg-beige-200 xpy-4 xpx-0 xborder-b-2 xtext-beige-950 xborder-beige-950 xtext-4xl xfont-semibold xplaceholder-beige-400 [&:has(:focus-visible)]:xoutline-none'
                >
              </form>
            </div>
          {% when 'age-question' %}
            <div class='name-question'>
              <form class='xflex xflex-col xgap-16'>
                <label
                  for='{{ block.id }}-text'
                  class='xfont-semibold xtext-6xl'
                  style="font-family: 'Rooney';"
                >
                  {{- block.settings.question_text -}}
                </label>
                <input
                  type='text'
                  required
                  id='{{ block.id }}-text'
                  placeholder='{{ block.settings.placeholder_text }}'
                  class='!xbg-beige-200 xpy-4 xpx-0 xborder-b-2 xtext-beige-950 xborder-beige-950 xtext-4xl xfont-semibold xplaceholder-beige-400 [&:has(:focus-visible)]:xoutline-none'
                >
                <p>{{ block.settings.question_descr }}</p>
              </form>
            </div>
        {% endcase %}
      </div>
    {% endfor %}
    <div class='xw-full xflex xjustify-between'>
      <div class='btn-container'><button class='button qur-prev !xhidden'>Zurück</button></div>
      <div class='btn-container'><button class='button qur-next'>Weiter</button></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "UR Questionnaire",
  "blocks": [
    {
      "type": "name-question",
      "name": "Name Question",
      "settings": [
        {
          "type": "text",
          "label": "Question Text",
          "id": "question_text",
          "default": "Wie heißt dein Hund?"
        },
        {
          "type": "text",
          "label": "Placeholder Text",
          "id": "placeholder_text",
          "default": "Name"
        }
      ]
    },
    {
      "type": "age-question",
      "name": "Age Question",
      "settings": [
        {
          "type": "text",
          "label": "Question Text",
          "id": "question_text",
          "default": "Wie alt ist %{name}"
        },
        {
          "type": "text",
          "label": "Question Description",
          "id": "question_descr",
          "default": "Hier reicht eine Schätzung, falls du das exakte Alter von %{name} nicht kennst."
        },
        {
          "type": "text",
          "label": "Placeholder Text",
          "id": "placeholder_text",
          "default": "04.2015"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UR Questionaire",
      "blocks": [
        {
          "type": "name-question"
        },
        {
          "type": "select-question"
        },
        {
          "type": "slider-question"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  /* You can add styling here for your section and blocks */
{% endstylesheet %}

{% javascript %}
  // You can add JavaScript functionalities here if needed
{% endjavascript %}
