{% comment %}
  This is the section for 'Uncle Rustys Questionnaire'.
{% endcomment %}

<!-- Uncle Rustys Questionnaire Section -->
<script src='{{ 'questionaire.js' | asset_url }}' defer></script>
<script src='{{ 'fuse.js' | asset_url }}' defer></script>
<section id='uncle-rustys-questionnaire'>
  {% assign numberOfBlocks = section.blocks.size %}

  <script>
    window.ur_questionaire_slide_count = {{ numberOfBlocks }};
  </script>

  <div class='xabsolute xw-full page-width xflex xmx-auto' style='left: 50%; transform: translateX(-50%);'>
    <div class='accordion content-container color-background-2 gradient xflex-1 xmt-8'>
      <details id='info'>
        <summary
          id='info_sum'
          role='button'
          aria-expanded='false'
          aria-controls='info_content'
          class='xflex'
        >
          <h3 class='accordion__title inline-richtext h4 xfont-bold'>Ernährungsberatung</h3>
          <svg
            class='icon icon-caret'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <path d="M16.293 8.05029L12 12.3433L7.70697 8.05029L6.29297 9.46429L12 15.1713L17.707 9.46429L16.293 8.05029Z" fill="currentColor"></path>
          </svg>
        </summary>
        <div
          class='accordion__content rte'
          id='info_content'
          role='region'
          aria-labelledby='info_sum'
        >
          <p class=' xpx-8 xpb-8'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
            tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae
            erat. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
            interdum nulla.
          </p>
        </div>
      </details>
      <progress
        id='questionaire-progress'
        class='xpx-8 xmb-4'
        value='0'
        max='100'
        style='--value: 1; --max: 100;'
      ></progress>
    </div>
    {% comment %}
      <div class=' xrounded-3xl xbg-lightbeige xmt-8 xp-8 xflex-1'>
        <h1 class=' xtext-4xl'>Ernährungsberatung</h1>
        <p class='xmt-8'>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat.
        </p>
      </div>
    {% endcomment %}
  </div>
  <div class='page-width xflex xflex-col'>
    <div id='slide-wrap' class='wrap  xmin-h-[50vh] xmax-h-[50vh] xoverflow-y-clip'>
      {% for block in section.blocks %}
        <div
          data-slide='{{ forloop.index }}'
          data-active='{% if forloop.first %}true{% else %}false{% endif %}'
          data-type='{{ block.type }}'
          class='questionaire-slide xflex-1 xflex xflex-col xjustify-center xgap-16 xmin-h-[50vh] xtransition-all xduration-700 {% unless forloop.first %}xhidden{% endunless %}'
          {{ block.shopify_attributes }}
        >
          {% case block.type %}
            {% when 'name-question' %}
              <div class='name-question'>
                <form class='xflex xflex-col xgap-16'>
                  <label
                    for='{{ block.id }}-text'
                    class='xfont-semibold xtext-6xl'
                    style="font-family: 'Rooney';"
                  >
                    {{- block.settings.question_text -}}
                  </label>
                  <p class=''>{{ block.settings.question_descr }}</p>
                  <div>
                    <input
                      type='text'
                      required
                      id='{{ block.id }}-text'
                      placeholder='{{ block.settings.placeholder_text }}'
                      class='!xbg-beige-200 xpy-4 xpx-0 xborder-b-2 xtext-beige-950 xborder-beige-950 xtext-4xl xfont-semibold xplaceholder-beige-400 [&:has(:focus-visible)]:xoutline-none'
                    >
                  </div>
                </form>
              </div>
            {% when 'age-question' %}
              <div class='age-question'>
                <form class='xflex xflex-col xgap-16'>
                  <div>
                    <label
                      for='{{ block.id }}-text'
                      class='xfont-semibold xtext-6xl'
                      style="font-family: 'Rooney';"
                    >
                      {{- block.settings.question_text -}}
                    </label>
                    <p class='xmt-8'>{{ block.settings.question_descr }}</p>
                  </div>
                  <div style='display: flex; gap: 10px;'>
                    <!-- Month dropdown in German -->
                    <select
                      required
                      id='month-select'
                      class='!xbg-beige-200 xpy-4 xpx-0 xborder-b-2 xtext-beige-950 xborder-beige-950 xtext-4xl xfont-semibold xplaceholder-beige-400 [&:has(:focus-visible)]:xoutline-none'
                    >
                      <option value='' disabled selected>Monat</option>
                      <option value='01'>Januar</option>
                      <option value='02'>Februar</option>
                      <option value='03'>März</option>
                      <option value='04'>April</option>
                      <option value='05'>Mai</option>
                      <option value='06'>Juni</option>
                      <option value='07'>Juli</option>
                      <option value='08'>August</option>
                      <option value='09'>September</option>
                      <option value='10'>Oktober</option>
                      <option value='11'>November</option>
                      <option value='12'>Dezember</option>
                    </select>

                    <!-- Year input -->
                    <input
                      type='number'
                      required
                      id='year-input'
                      placeholder='2016'
                      class='!xbg-beige-200 xw-28 xpy-4 xpx-0 xborder-b-2 xtext-beige-950 xborder-beige-950 xtext-4xl xfont-semibold xplaceholder-beige-400 [&:has(:focus-visible)]:xoutline-none'
                    >
                  </div>
                </form>
              </div>
            {% when 'breed-question' %}
              <div class='breed-question'>
                <form class='xflex xflex-col xgap-16'>
                  <div>
                    <label
                      for='{{ block.id }}-text'
                      class='xfont-semibold xtext-6xl'
                      style="font-family: 'Rooney';"
                    >
                      {{- block.settings.question_text -}}
                    </label>
                    <p class='xmt-8'>{{ block.settings.question_descr }}</p>
                  </div>
                  <div class='ur-suggestion'>
                    <input
                      name='ur-breed'
                      autocomplete='off'
                      type='text'
                      id='{{ block.id }}-text'
                      placeholder='{{ block.settings.placeholder_text }}'
                      class='ur-breed-input !xbg-beige-200 xpy-4 xpx-0 xborder-b-2 xtext-beige-950 xborder-beige-950 xtext-4xl xfont-semibold xplaceholder-beige-400 [&:has(:focus-visible)]:xoutline-none'
                    >
                    <div class='ur-dropdown xhidden xmt-4 xbg-white xshadow-lg xrounded-3xl xp-4 xflex xflex-col xgap-2 xmax-h-96 xoverflow-scroll'>
                      <div class='item'>No Suggestion</div>
                    </div>
                  </div>
                  <div>
                    <input
                      type='checkbox'
                      id='notshure'
                      name='dontknow'
                    >
                    <label for='notshure' class='' style="font-family: 'Rooney';">Ich bin mir nicht sicher...</label>
                  </div>
                </form>
              </div>
            {% when 'weight-question' %}
              <div class='weight-question'>
                <form class='xflex xflex-col xgap-16'>
                  <div>
                    <label
                      for='{{ block.id }}-text'
                      class='xfont-semibold xtext-6xl'
                      style="font-family: 'Rooney';"
                    >
                      {{- block.settings.question_text -}}
                    </label>
                    <p class='xmt-8'>{{ block.settings.question_descr }}</p>
                  </div>
                  <div>
                    <input
                      type='number'
                      required
                      id='{{ block.id }}-text'
                      placeholder='{{ block.settings.placeholder_text }}'
                      class='ur-weight-input xw-40 !xbg-beige-200 xpy-4 xpx-0 xborder-b-2 xtext-beige-950 xborder-beige-950 xtext-4xl xfont-semibold xplaceholder-beige-400 [&:has(:focus-visible)]:xoutline-none'
                    >
                    <span class='xrelative -xleft-9 xtext-beige-400 xtext-4xl xfont-semibold' style='left: -60px'
                      >kg</span
                    >
                  </div>
                </form>
              </div>
            {% when 'allergies-question' %}
              <div class='allergies-question'>
                <form class='xflex xflex-col xgap-16'>
                  <div>
                    <label
                      class='xfont-semibold xtext-6xl'
                      style="font-family: 'Rooney';"
                    >
                      {{- block.settings.question_text -}}
                    </label>
                    <p class='xmt-8'>{{ block.settings.question_descr }}</p>
                  </div>
                  <div class='!xtext-xl xgrid xgrid-cols-2 xgap-4 xmax-w-3xl' style="font-family: 'Rooney' !important;">
                    <div>
                      <input type='checkbox' id='fish' name='fish'>
                      <label class='!xtext-3xl' for='fish'>Fisch</label>
                    </div>

                    <div>
                      <input type='checkbox' id='getreide' name='getreide'>
                      <label class='!xtext-3xl' for='getreide'>Getreide</label>
                    </div>

                    <div>
                      <input type='checkbox' id='kartoffeln' name='kartoffeln'>
                      <label class='!xtext-3xl' for='kartoffeln'>Kartoffeln</label>
                    </div>

                    <div>
                      <input type='checkbox' id='rind' name='rind'>
                      <label class='!xtext-3xl' for='rind'>Rind</label>
                    </div>

                    <div>
                      <input type='checkbox' id='milchprodukte' name='milchprodukte'>
                      <label class='!xtext-3xl' for='milchprodukte'>Milchprodukte</label>
                    </div>

                    <div>
                      <input type='checkbox' id='pferd' name='pferd'>
                      <label class='!xtext-3xl' for='pferd'>Pferd</label>
                    </div>
                  </div>
                </form>
              </div>
            {% when 'gender-question' %}
              <div class='gender-question'>
                <form class='xflex xflex-col xgap-16'>
                  <div>
                    <label
                      for='{{ block.id }}-text'
                      class='xfont-semibold xtext-6xl'
                      style="font-family: 'Rooney';"
                    >
                      {{- block.settings.question_text -}}
                    </label>
                    <p class='xmt-8'>{{ block.settings.question_descr }}</p>
                  </div>
                  <div class='xflex xgap-8'>
                    <button
                      type='button'
                      id='gender-male'
                      class='gender-male xbg-lightbeige xrounded-3xl xp-8 xflex xflex-col xjustify-center xitems-center hover:xbg-beige-300 xtransition-all'
                    >
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        x='0px'
                        y='0px'
                        width='80'
                        height='80'
                        viewBox='0 0 40 40'
                        class='gender-male'
                      >
                        <path class='gender-male' fill="#8bb7f0" d="M14.5,37.5c-6.617,0-12-5.383-12-12s5.383-12,12-12c2.419,0,4.752,0.719,6.748,2.078l0.342,0.233 L31.901,5.5H24.5v-3h13v13h-3V8.099L24.188,18.41l0.233,0.342c1.359,1.995,2.078,4.328,2.078,6.748 C26.5,32.117,21.117,37.5,14.5,37.5z M14.5,17.5c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S18.911,17.5,14.5,17.5z"></path><path fill="#4e7ab5" d="M37,3v12h-2V9.306V6.892l-1.707,1.707l-9.165,9.165l-0.586,0.586l0.466,0.685 C25.311,20.946,26,23.182,26,25.5C26,31.841,20.841,37,14.5,37S3,31.841,3,25.5S8.159,14,14.5,14c2.318,0,4.554,0.689,6.466,1.991 l0.685,0.466l0.586-0.586l9.165-9.165L33.108,5h-2.414H25V3H37 M14.5,34c4.687,0,8.5-3.813,8.5-8.5S19.187,17,14.5,17 S6,20.813,6,25.5S9.813,34,14.5,34 M38,2H24v4h6.694l-9.165,9.165C19.526,13.8,17.107,13,14.5,13C7.596,13,2,18.596,2,25.5 S7.596,38,14.5,38C21.404,38,27,32.404,27,25.5c0-2.607-0.8-5.026-2.165-7.029L34,9.306V16h4V2L38,2z M14.5,33 C10.358,33,7,29.642,7,25.5c0-4.142,3.358-7.5,7.5-7.5s7.5,3.358,7.5,7.5C22,29.642,18.642,33,14.5,33L14.5,33z"></path>
                      </svg>
                      <span class='xmt-8 xfont-semibold gender-male'>Rüde</span>
                    </button>
                    <button
                      type='button'
                      id='gender-female'
                      class='gender-female xbg-lightbeige xrounded-3xl xp-8 xflex xflex-col xjustify-center xitems-center hover:xbg-beige-300 xtransition-all'
                    >
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        x='0px'
                        y='0px'
                        width='80'
                        height='80'
                        viewBox='0 0 30 30'
                        class='gender-female'
                      >
                        <path  class='gender-female' fill="#f78f8f" d="M13.5,28.5v-3h-3v-3h3v-4.129l-0.39-0.089C9.219,17.397,6.5,13.992,6.5,10 c0-4.687,3.813-8.5,8.5-8.5s8.5,3.813,8.5,8.5c0,3.992-2.719,7.397-6.61,8.282l-0.39,0.089V22.5h3v3h-3v3H13.5z M15,4.735 c-2.903,0-5.265,2.362-5.265,5.265s2.361,5.265,5.265,5.265s5.265-2.362,5.265-5.265S17.903,4.735,15,4.735z"></path><path fill="#c74343" d="M15,2c4.411,0,8,3.589,8,8c0,3.757-2.558,6.962-6.222,7.794L16,17.971v0.798V22v1h1h2v2h-2h-1v1v2 h-2v-2v-1h-1h-2v-2h2h1v-1v-3.231v-0.798l-0.778-0.177C9.558,16.962,7,13.757,7,10C7,5.589,10.589,2,15,2 M15,15.765 c3.179,0,5.765-2.586,5.765-5.765S18.179,4.235,15,4.235S9.235,6.821,9.235,10S11.821,15.765,15,15.765 M15,1 c-4.971,0-9,4.029-9,9c0,4.282,2.993,7.859,7,8.769V22h-3v4h3v3h4v-3h3v-4h-3v-3.231c4.007-0.911,7-4.487,7-8.769 C24,5.029,19.971,1,15,1L15,1z M15,14.765c-2.631,0-4.765-2.133-4.765-4.765S12.369,5.235,15,5.235S19.765,7.369,19.765,10 S17.631,14.765,15,14.765L15,14.765z"></path>
                      </svg>
                      <span class='xmt-8 xfont-semibold gender-female'>Hündin</span>
                    </button>
                  </div>
                </form>
              </div>
            {% when 'yes-no-question' %}
              <div class='yes-no-question' data-key='{{block.settings.data_key}}'>
                <form class='xflex xflex-col xgap-16'>
                  <div>
                    <label
                      for='{{ block.id }}-text'
                      class='xfont-semibold xtext-6xl'
                      style="font-family: 'Rooney';"
                    >
                      {{- block.settings.question_text -}}
                    </label>
                    <p class='xmt-8'>{{ block.settings.question_descr }}</p>
                  </div>
                  <div class='xflex xgap-8'>
                    <button
                      data-key='{{block.settings.data_key}}'
                      type='button'
                      id='yes-button'
                      class='yes-button xbg-lightbeige xrounded-3xl xp-8 xflex xflex-col xjustify-center xitems-center hover:xbg-beige-300 xtransition-all'
                    >
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        x='0px'
                        y='0px'
                        width='80'
                        height='80'
                        viewBox='0 0 40 40'
                        class='yes-button'
                      >
                        <path class="yes-button" fill="#bae0bd" d="M1.707 22.199L4.486 19.42 13.362 28.297 35.514 6.145 38.293 8.924 13.362 33.855z"></path><path fill="#5e9c76" d="M35.514,6.852l2.072,2.072L13.363,33.148L2.414,22.199l2.072-2.072l8.169,8.169l0.707,0.707 l0.707-0.707L35.514,6.852 M35.514,5.438L13.363,27.59l-8.876-8.876L1,22.199l12.363,12.363L39,8.924L35.514,5.438L35.514,5.438z"></path>
                      </svg>
                      <span class='xmt-8 xfont-semibold gender-male'>Ja</span>
                    </button>
                    <button
                      data-key='{{block.settings.data_key}}'
                      type='button'
                      id='no-button'
                      class='no-button xbg-lightbeige xrounded-3xl xp-8 xflex xflex-col xjustify-center xitems-center hover:xbg-beige-300 xtransition-all'
                    >
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        x='0px'
                        y='0px'
                        width='80'
                        height='80'
                        viewBox='0 0 40 40'
                        class='no-button'
                      >
                        <path class="no-button" fill="#f78f8f" d="M21 24.15L8.857 36.293 4.707 32.143 16.85 20 4.707 7.857 8.857 3.707 21 15.85 33.143 3.707 37.293 7.857 25.15 20 37.293 32.143 33.143 36.293z"></path><path fill="#c74343" d="M33.143,4.414l3.443,3.443L25.15,19.293L24.443,20l0.707,0.707l11.436,11.436l-3.443,3.443 L21.707,24.15L21,23.443l-0.707,0.707L8.857,35.586l-3.443-3.443L16.85,20.707L17.557,20l-0.707-0.707L5.414,7.857l3.443-3.443 L20.293,15.85L21,16.557l0.707-0.707L33.143,4.414 M33.143,3L21,15.143L8.857,3L4,7.857L16.143,20L4,32.143L8.857,37L21,24.857 L33.143,37L38,32.143L25.857,20L38,7.857L33.143,3L33.143,3z"></path>
                      </svg>
                      <span class='xmt-8 xfont-semibold gender-female'>Nein</span>
                    </button>
                  </div>
                </form>
              </div>
            {% when 'cards-question' %}
              <div class='cards-question' data-key='{{block.settings.data_key}}'>
                <form class='xflex xflex-col xgap-16'>
                  <div>
                    <label
                      for='{{ block.id }}-text'
                      class='xfont-semibold xtext-6xl'
                      style="font-family: 'Rooney';"
                    >
                      {{- block.settings.question_text -}}
                    </label>
                    <p class='xmt-8'>{{ block.settings.question_descr }}</p>
                  </div>
                  <div class='xflex xgap-8'>
                    <button
                      data-key='{{block.settings.card1}}'
                      type='button'
                      id='card1'
                      class='xbg-lightbeige xrounded-3xl xp-8 xflex xflex-col xjustify-center xitems-center hover:xbg-beige-300 xtransition-all'
                    >
                      <span class='xmt-8 xfont-semibold card1'>{{ block.settings.card1 }}</span>
                    </button>
                    <button
                      data-key='{{block.settings.card2}}'
                      type='button'
                      id='card2'
                      class='xbg-lightbeige xrounded-3xl xp-8 xflex xflex-col xjustify-center xitems-center hover:xbg-beige-300 xtransition-all'
                    >
                      <span class='xmt-8 xfont-semibold card2'>{{ block.settings.card2 }}</span>
                    </button>
                    <button
                      data-key='{{block.settings.card3}}'
                      type='button'
                      id='card3'
                      class='xbg-lightbeige xrounded-3xl xp-8 xflex xflex-col xjustify-center xitems-center hover:xbg-beige-300 xtransition-all'
                    >
                      <span class='xmt-8 xfont-semibold card1'>{{ block.settings.card3 }}</span>
                    </button>
                  </div>
                </form>
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
    <div class='xw-full xflex xjustify-between'>
      <div class='btn-container'><button class='button qur-prev !xhidden'>Zurück</button></div>
      <div class='btn-container'><button class='button qur-next'>Weiter</button></div>
    </div>
  </div>
</section>

{% if request.design_mode %}
  <script>
    document.addEventListener('shopify:block:select', function (event) {
      const blockSelectedIsSlide = event.target.classList.contains('questionaire-slide');
      if (!blockSelectedIsSlide) return;

      const slides = document.querySelectorAll('.questionaire-slide');
      const slideArray = [...slides];

      slideArray.map(function (slide) {
        slide.setAttribute('data-active', 'false');
        slide.classList.add('xhidden');
      });

      event.target.setAttribute('data-active', 'true');
      event.target.classList.remove('xhidden');
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "UR Questionnaire",
  "blocks": [
    {
      "type": "name-question",
      "name": "Name Question",
      "settings": [
        {
          "type": "text",
          "label": "Question Text",
          "id": "question_text",
          "default": "Wie heißt dein Hund?"
        },
        {
          "type": "text",
          "label": "Placeholder Text",
          "id": "placeholder_text",
          "default": "Name"
        },
        {
          "type": "text",
          "label": "Question Description",
          "id": "question_descr",
          "default": "Wie dürfen wir deinen vierbeinigen Freund nennen?"
        }
      ]
    },
    {
      "type": "age-question",
      "name": "Age Question",
      "settings": [
        {
          "type": "text",
          "label": "Question Text",
          "id": "question_text",
          "default": "Wann wurde %{name} geboren?"
        },
        {
          "type": "text",
          "label": "Question Description",
          "id": "question_descr",
          "default": "Hier reicht eine Schätzung, falls du das exakte Alter von %{name} nicht kennst."
        },
        {
          "type": "text",
          "label": "Placeholder Text",
          "id": "placeholder_text",
          "default": "2016-04"
        }
      ]
    },
    {
      "type": "breed-question",
      "name": "Breed Question",
      "settings": [
        {
          "type": "text",
          "label": "Question Text",
          "id": "question_text",
          "default": "Welcher Rasse gehört %{name} zu?"
        },
        {
          "type": "text",
          "label": "Question Description",
          "id": "question_descr",
          "default": "Anweisung"
        },
        {
          "type": "text",
          "label": "Placeholder Text",
          "id": "placeholder_text",
          "default": "z.B. Eurasier"
        }
      ]
    },
    {
      "type": "weight-question",
      "name": "Weight Question",
      "settings": [
        {
          "type": "text",
          "label": "Question Text",
          "id": "question_text",
          "default": "Wieviel wiegt %{name}?"
        },
        {
          "type": "text",
          "label": "Question Description",
          "id": "question_descr",
          "default": "Du kannst das Gewicht schätzen wenn du es nicht genau weißt."
        },
        {
          "type": "text",
          "label": "Placeholder Text",
          "id": "placeholder_text",
          "default": "15"
        }
      ]
    },
    {
      "type": "allergies-question",
      "name": "Allergies Question",
      "settings": [
        {
          "type": "text",
          "label": "Question Text",
          "id": "question_text",
          "default": "Hat %{name} Allergien oder Unverträglichkeiten?"
        },
        {
          "type": "text",
          "label": "Question Description",
          "id": "question_descr",
          "default": "Erklärung"
        }
      ]
    },
    {
      "type": "gender-question",
      "name": "Gender Question",
      "settings": [
        {
          "type": "text",
          "label": "Question Text",
          "id": "question_text",
          "default": "Welcher Rasse gehört %{name} zu?"
        },
        {
          "type": "text",
          "label": "Question Description",
          "id": "question_descr",
          "default": "Anweisung"
        }
      ]
    },
    {
      "type": "yes-no-question",
      "name": "Yes / No Question",
      "settings": [
        {
          "type": "text",
          "label": "Question Text",
          "id": "question_text",
          "default": "Ist %{name} kastriert/sterilisiert??"
        },
        {
          "type": "text",
          "label": "Question Description",
          "id": "question_descr",
          "default": "Anweisung"
        },
        {
          "type": "text",
          "label": "Data Key",
          "id": "data_key",
          "default": "health_problems"
        }
      ]
    },
    {
      "type": "cards-question",
      "name": "Cards Question",
      "settings": [
        {
          "type": "text",
          "label": "Question Text",
          "id": "question_text",
          "default": "Ist %{name} kastriert/sterilisiert??"
        },
        {
          "type": "text",
          "label": "Question Description",
          "id": "question_descr",
          "default": "Anweisung"
        },
        {
          "type": "text",
          "label": "Data Key",
          "id": "data_key",
          "default": "health_problems"
        },
        {
          "type": "text",
          "label": "Card 1",
          "id": "card1",
          "default": "1"
        },
        {
          "type": "text",
          "label": "Card 2",
          "id": "card2",
          "default": "2"
        },
        {
          "type": "text",
          "label": "Card 3",
          "id": "card3",
          "default": "3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UR Questionaire",
      "blocks": [
        {
          "type": "name-question"
        },
        {
          "type": "age-question"
        },
        {
          "type": "breed-question"
        },
        {
          "type": "weight-question"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .questionaire-slide[data-active='true'] {
    min-height: 50vh;
    height: 50;
    opacity: 1;
  }
  .questionaire-slide[data-active='false'] {
    min-height: 0vh;
    height: 0;
    opacity: 0;
  }
{% endstylesheet %}

{% javascript %}
  // You can add JavaScript functionalities here if needed
{% endjavascript %}
