{% schema %}
{
  "name": "Quick CTA",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "richtext",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "<h2>Headline</h2><p>Test Text</p>"
    },
    {
      "type": "image_picker",
      "id": "cta_image",
      "label": "CTA Image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Click me"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "label": "Text Color",
      "id": "text_color",
      "options": [
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "beige",
          "label": "Light"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UR Quick CTA",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% javascript %}
  // Any JavaScript specific to this section can go here.
{% endjavascript %}

{% assign text_color_classes = '' %}
{% if section.settings.text_color == 'dark' %}
  {% assign text_color_classes = 'dark' %}
{% elsif section.settings.text_color == 'light' %}
  {% assign text_color_classes = 'beige' %}
{% endif %}

<div class='quick-cta color-{{ section.settings.color_scheme }}'>
  <div class='quick-cta__content page-width'>
    <div class='xrounded-3xl xflex xgap-4 xp-16' style='background-color: {{ section.settings.background_color }};'>
      {% if section.settings.cta_image != blank %}
        <img
          src='{{ section.settings.cta_image | img_url: '300x300' }}'
          alt=''
          width='150'
          height='150'
          class='quick-cta__image'
          loading='lazy'
        >
      {% endif %}
      <div class='xflex xjustify-between xw-full '>
        <div class='richtext xp-8 {{ text_color_classes }}'>{{ section.settings.cta_text }}</div>
        {% if section.settings.button_text != blank %}
          <div class='xflex xitems-end'>
            <a href='{{ section.settings.button_url }}' class='button {{ text_color_classes }}'>
              {{- section.settings.button_text -}}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
