<div class='{{ section.settings.container_size }} twcss-flex'>
  <div
    class='twcss-mx-auto twcss-flex twcss-max-w-[1920px] twcss-flex-wrap-reverse twcss-justify-center {% if section.settings.reverse_content == true %} md:twcss-flex-row-reverse {% endif %}'
    style='margin-bottom: {{ section.settings.margin_bottom }}px; margin-top: {{ section.settings.margin_top }}px;'
  >
    <div class='twcss-flex twcss-w-full twcss-flex-col twcss-justify-center {% if section.settings.reverse_color == 'dark' %} twcss-bg-primary twcss-text-box-background {% else %} twcss-bg-box-background twcss-text-primary {% endif %} twcss-py-[60px]  twcss-px-4 md:twcss-w-1/2 md:twcss-pl-8 md:twcss-pr-4 lg:twcss-py-[130px] lg:twcss-px-[100px]'>
      {% if block.settings.menu_image %}
        <img
          src='{{ section.settings.small_image | image_url }}'
          class='twcss-mb-3 twcss-w-8 twcss-h-8 twcss-rounded-full lg:twcss-hidden'
          alt='logo'
          loading='lazy'
          width='auto'
          height='auto'
        >
      {% else %}
        <img
          src='https://dummyimage.com/30x30'
          class='twcss-mb-3 twcss-w-8 twcss-h-8 twcss-rounded-full lg:twcss-hidden'
          width='auto'
          height='auto'
          loading='lazy'
        >
      {% endif %}
      <h2 class='twcss-mb-3 twcss-typ-h2-subheading-b lg:twcss-mb-5'>
        {{ section.settings.title }}
      </h2>
      <p class='twcss-mb-7 twcss-typ-body-2 lg:twcss-mb-5'>
        {{ section.settings.descripcion }}
      </p>
      <div class='twcss-flex twcss-w-full twcss-flex-col twcss-gap-4 md:twcss-flex-row'>
        {%- if section.settings.show_button_1 == true -%}
          <a
            href='{{ section.settings.link_button_1 }}'
            class='twcss-button {% if section.settings.reverse_color == 'light' %} twcss-button-primary {% else %} twcss-button-primary-dark {% endif %}'
          >
            {{ section.settings.text_button_1 }}
          </a>
        {%- endif -%}

        {%- if section.settings.show_button_2 == true -%}
          <a
            href='{{ section.settings.link_button_2 }}'
            class='twcss-button {% if section.settings.reverse_color == 'light' %} twcss-button-secondary {% else %} twcss-button-secondary-dark {% endif %}'
          >
            {{ section.settings.text_button_2 }}
          </a>
        {%- endif -%}
      </div>
    </div>

    <div class='twcss-w-full md:twcss-w-1/2'>
      {% if block.settings.menu_image %}
        <img
          src='{{ section.settings.big_image | image_url }}'
          class='twcss-h-full twcss-w-full twcss-object-cover'
          alt='product-image'
          loading='lazy'
          width='auto'
          height='auto'
        >
      {% else %}
        <img
          src='https://dummyimage.com/500x500'
          width='auto'
          height='auto'
          loading='lazy'
          class='twcss-h-full twcss-w-full twcss-object-cover'
        >
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Texts and image",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 36
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "twcss-w-full",
          "label": "Full width"
        },
        {
          "value": "twcss-grid-system",
          "label": "Container"
        }
      ],
      "default": "twcss-grid-system",
      "label": "Container size"
    },
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Title text"
    },
    {
      "type": "textarea",
      "id": "descripcion",
      "label": "descripcion",
      "default": "Descripcion text"
    },
    {
      "type": "select",
      "id": "reverse_color",
      "options": [
        {
          "value": "dark",
          "label": "Style 1"
        },
        {
          "value": "light",
          "label": "Style 2"
        }
      ],
      "default": "light",
      "label": "Style"
    },
    {
      "type": "checkbox",
      "id": "reverse_content",
      "default": false,
      "label": "Reverse content"
    },
    {
      "type": "image_picker",
      "id": "big_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "small_image",
      "label": "Small image"
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "type": "checkbox",
      "id": "show_button_1",
      "default": true,
      "label": "Show button"
    },
    {
      "type": "text",
      "id": "text_button_1",
      "label": "Content button",
      "default": "lorem"
    },
    {
      "type": "url",
      "id": "link_button_1",
      "label": "Link",
      "default": "/"
    },
    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "type": "checkbox",
      "id": "show_button_2",
      "default": true,
      "label": "Show button"
    },
    {
      "type": "text",
      "id": "text_button_2",
      "label": "Content button",
      "default": "lorem"
    },
    {
      "type": "url",
      "id": "link_button_2",
      "label": "Link",
      "default": "/"
    }
  ],
  "presets": [
    {
      "name": "Texts and image"
    }
  ]
}
{% endschema %}
