<section class='twcss-grid-system'>
  <h1
    class='twcss-col-span-4 sm:twcss-col-span-8 lg:twcss-col-span-12 twcss-typ-h2-subheading-a twcss-font-bold twcss-mb-[18px]'
    style='margin-top: {{ section.settings.margin_top }}px;'
  >
    {{ section.settings.title }}
  </h1>
  <div class='twcss-col-span-4 sm:twcss-col-span-8 lg:twcss-col-span-12 twcss-grid-system twcss-w-full twcss-mx-0'>
    <ul class='twcss-col-span-4 lg:twcss-col-span-6 [&>li:last-child]:twcss-border-b-0'>
      <li class='twcss-mb-[44px] lg:twcss-mb-[68px]'>{{ section.settings.service_subtitle }}</li>
      {% for block in section.blocks %}
        {% if block.type == 'Service' %}
          <li class='twcss-flex twcss-justify-between sm:twcss-w-10/12 twcss-border-b twcss-border-solid twcss-boder-border twcss-px-[22px] twcss-pb-6'>
            <div class='twcss-col-span-9 twcss-flex twcss-items-center twcss-gap-x-6'>
              {% if block.settings.icon != blank %}
                <div>
                  <img src='{{ block.settings.icon | image_url }}' alt='icon' loading='lazy' width='32' height='32'>
                </div>
              {% endif %}
              <div>
                <p class='twcss-typ-h3-subtopic-2 twcss-font-bold'>{{ block.settings.title }}</p>
                <p class='twcss-typ-body-1'>{{ block.settings.description }}</p>
              </div>
            </div>
            <div class='twcss-col-span-3 twcss-flex twcss-items-center'>
              <a href='{{ block.settings.link }}' class='[&>.icon]:twcss-w-2'>
                {% render 'icon-chevron' %}
              </a>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class='twcss-col-span-4 lg:twcss-col-span-6'>
      <li class='twcss-mb-[44px] lg:twcss-mb-[68px]'>{{ section.settings.politics_subtitle }}</li>
      {% for block in section.blocks %}
        {% if block.type == 'Politics' %}
          <li class='twcss-pb-6'>
            <div class='twcss-col-span-9'>
              <p class='twcss-typ-h3-subtopic-2 twcss-font-bold'>
                {{ block.settings.title | link_to: block.settings.link }}
              </p>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "Sidebar menu",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Get Started"
    },
    {
      "type": "text",
      "id": "service_subtitle",
      "label": "Service subtitle"
    },
    {
      "type": "text",
      "id": "politics_subtitle",
      "label": "Politics Subtitle"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Top Margin",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "Service",
      "name": "Service",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Service title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Service description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    },
    {
      "type": "Politics",
      "name": "Politics and guides",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Politics title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sidebar menu"
    }
  ]
}
{% endschema %}
