<div class="twcss-w-full color-{{ section.settings.color_scheme }} twcss-bg-background">
  {% liquid 
      case section.blocks.size 
      when 1
        assign column_size = 'twcss-grid-cols-1'
      when 2
        assign column_size = 'twcss-grid-cols-1 md:twcss-grid-cols-2'
      when 3
        assign column_size = 'twcss-grid-cols-1 sm:twcss-grid-cols-2 md:twcss-grid-cols-3'
      when 4
        assign column_size = 'twcss-grid-cols-1 sm:twcss-grid-cols-2 md:twcss-grid-cols-3 lg:twcss-grid-cols-4'
      endcase
  %}

  <div class="twcss-container twcss-max-w-[1280px] twcss-px-5 twcss-mx-auto">
    <div class="twcss-grid {{ column_size }} twcss-gap-2">
      {% for block in section.blocks %}
        <div class="twcss-relative">
          <div class="twcss-h-full js" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}
              <a class="image-bar__link" href="{{ block.settings.link }}">
                <img
                  class="twcss-object-cover twcss-w-full twcss-h-full lazyload js"
                  src="{{ block.settings.image | image_url }}"
                  width='auto'
                  height='auto'
                  loading='lazy'
                />
            {% elsif block.settings.image != blank %}
                <img
                  class="twcss-object-cover twcss-w-full twcss-h-full lazyload js"
                  src="{{ block.settings.image | image_url }}"
                  width='auto'
                  height='auto'
                  loading='lazy'
                />
            {% endif %}
            <div class="{% if block.settings.cta_label != blank or block.settings.link != blank %} image-bar__overlay{% endif %}">
              {% if block.settings.image == blank %}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: "twcss-w-full twcss-h-full" }}
              {% endif %}

              {% if block.settings.cta_label != blank %}
                <div class="image-bar__text">
                  <h3 class="twcss-text-3xl twcss-font-bold twcss-text-white image-bar__caption">{{ block.settings.cta_label | escape }}</h3>
                </div>
              {% endif %}
            </div>
            {% if block.settings.link != blank %}
              </div></a>
            {% else %}
              </div>
            {% endif %}
          <noscript>
            <div {{ block.shopify_attributes }}>
              <div
                class="twcss-relative twcss-w-full image-bar__item--{{ block.id }}"
                style="background-image: url({{ block.settings.image | image_url }});"
              ></div>
            </div>
          </noscript>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Gallery",
  "tag": "section",
  "class": "py-8",
  "max_blocks": 4,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
