<section
  class='twcss-custom-scrollbar twcss-m-auto twcss-my-16 twcss-flex twcss-max-w-[1920px] twcss-overflow-x-auto twcss-bg-scroll twcss-pb-8'
  style='margin-bottom: {{ section.settings.margin_bottom }}px; margin-top: {{ section.settings.margin_top }}px;'
>
  {%- for block in section.blocks -%}
    <div
      class='twcss-w-1/4 twcss-min-w-[300px] twcss-bg-cover twcss-bg-center twcss-relative twcss-min-h-[700px]'
      style='
        background-image: url({% if block.settings.backogrund_image%}
        {{ block.settings.backogrund_image | image_url }}
        {% else %}https://dummyimage.com/300x600 {% endif %});
      '
    >
      <div
        class='twcss-t-0 twcss-absolute twcss-h-full twcss-w-full empty:twcss-block twcss-z-0'
        style='background: linear-gradient(transparent, {{ section.settings.gradient_color }});'
      ></div>
      <div class='twcss-top-0 twcss-flex twcss-h-full twcss-w-full twcss-flex-col twcss-justify-between twcss-px-[39px] twcss-py-[50px] twcss-text-center md:twcss-px-[47px] md:twcss-py-[65px] lg:twcss-px-[75px] lg:twcss-py-[110px] twcss-z-[1] twcss-relative'>
        <h2 class='twcss-typ-h2-subheading-a twcss-uppercase twcss-text-background'>
          {{ block.settings.title }}
        </h2>

        <div>
          <p class='twcss-typ-body-2 twcss-mb-6 twcss-text-background'>
            {{ block.settings.description }}
          </p>
          <a
            href='{{ block.settings.url_button }}'
            class='twcss-button twcss-hidden twcss-border-none lg:twcss-block'
            style='background-color: {{ section.settings.background_button }}; color: {{ section.settings.text_button_color }};'
          >
            {{ block.settings.button_title }}
          </a>
        </div>
      </div>
    </div>
  {%- endfor -%}
</section>

{% schema %}
{
  "name": "List images gradient",
  "tag": "section",
  "max_blocks": 4,
  "settings": [
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 36
    },
    {
      "type": "color",
      "id": "background_button",
      "label": "Background buttons",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "text_button_color",
      "label": "Texts color buttons",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "gradient_color",
      "label": "Gradient color",
      "default": "#000"
    }
  ],
  "blocks": [
    {
      "type": "item_gradient",
      "name": "Item gradient",
      "settings": [
        {
          "type": "image_picker",
          "id": "backogrund_image",
          "label": "Background iamge"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "LOREM IPSUM"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget sollicitudin odio. Pellentesque ullamcorper, libero vehicula lacinia luctus, magna justo pharetra mi, non iaculis odio orci eget nisl."
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button title",
          "default": "LOREM IPSUM"
        },
        {
          "type": "url",
          "id": "url_button",
          "label": "url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "List images gradient",
      "blocks": [
        {
          "type": "item_gradient"
        },
        {
          "type": "item_gradient"
        },
        {
          "type": "item_gradient"
        },
        {
          "type": "item_gradient"
        }
      ]
    }
  ]
}
{% endschema %}
