{%- style -%}
  .home-link-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: auto;
    grid-template-areas:
      "item-a item-1 item-2 "
      "item-a item-3 item-4";
    text-shadow: 1px -1px black;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    justify-content: center;
    padding: 10px;
  }

  .item-a {
    grid-area: item-a;
    height: 486px;
  }

  .item-1 {
    grid-area: item-1;
    height: 240px;
  }

  .item-2 {
    grid-area: item-2;
    height: 240px;
  }

  .item-3 {
    grid-area: item-3;
    height: 240px;
  }

  .item-4{
    grid-area: item-4;
    height: 240px;
  }

  @media(max-width: 1056px){
    .home-link-container{
      transition: .5 linear;
      grid-template-columns: repeat(2, 350px);
      grid-template-areas:
        "item-a item-1"
        "item-a item-3"
        "item-2 item-4";
    }
  }

  @media(max-width: 777px){
    .home-link-container{
      grid-template-columns: 350px;
      grid-template-areas:
        "item-a"
        "item-a"
        "item-1"
        "item-2"
        "item-3"
        "item-4";
    }
  }
{%- endstyle -%}

<section
  class='color-{{ section.settings.color_scheme }} twcss-w-full'
  style='padding: {{ section.settings.background_padding }}px;'
>
  <div class='home-link-container'>
    <div class='twcss-relative twcss-overflow-hidden twcss-group/block-overlay item-a'>
      <a class='twcss-absolute twcss-w-full twcss-h-full' href='{{ section.settings.link }}'>
        {% if section.settings.image %}
          <img
            class='twcss-w-full twcss-h-full twcss-object-cover twcss-transition-opacity twcss-duration-200 twcss-ease-in-out group-hover/block-overlay:twcss-opacity-0'
            style='height: 100%; width: auto;'
            src='{{ section.settings.image | image_url }}'
            alt=''
            width='auto'
            height='auto'
            loading='lazy'
          >
        {% else %}
          {{ 'hero-apparel-1' | placeholder_svg_tag: 'twcss-w-full twcss-h-full twcss-transition-opacity twcss-duration-200 twcss-ease-in-out group-hover/block-overlay:twcss-opacity-0' }}
        {% endif %}

        <div style='--overlay-color: {{ section.settings.overlay_color }}; --font-color: {{ section.settings.font_color }}; --font-size: {{ section.settings.font_size }}px; padding-top: {{ section.settings.padding }}%;' class='twcss-opacity-0 twcss-block twcss-absolute twcss-w-full twcss-h-full twcss-top-0 twcss-text-center twcss-leading-[220px] hover:twcss-opacity-80 hover:twcss-duration-500 hover:twcss-transition-opacity hover:twcss-ease-in-out [.item-a_&]:twcss-top-0 [.item-a_&]:twcss-leading-[440px]'>
          {{ section.settings.text }}
        </div>
      </a>
    </div>

    {%- for block in section.blocks -%}
      <div class='twcss-relative twcss-overflow-hidden twcss-group/block-overlay item-{{ forloop.index }}'>
        <a class='twcss-absolute twcss-w-full twcss-h-full' href='{{ block.settings.link }}'>
          {% if block.settings.image %}
            <img
              class='twcss-w-full twcss-h-full twcss-object-cover twcss-transition-opacity twcss-duration-200 twcss-ease-in-out group-hover/block-overlay:twcss-opacity-0'
              src='{{ block.settings.image | image_url }}'
              alt=''
              width='auto'
              height='auto'
              loading='lazy'
            >
          {% else %}
            {{ 'hero-apparel-3' | placeholder_svg_tag: 'twcss-w-full twcss-h-full twcss-transition-opacity twcss-duration-200 twcss-ease-in-out group-hover/block-overlay:twcss-opacity-0' }}
          {% endif %}

          <div style='--overlay-color: {{ block.settings.overlay_color }}; --font-color: {{ block.settings.font_color }}; --font-size: {{ block.settings.font_size }}px; padding-top: {{ block.settings.padding }}%;' class='twcss-opacity-0 twcss-block twcss-absolute twcss-w-full twcss-h-full twcss-top-0 twcss-text-center twcss-leading-[220px] hover:twcss-opacity-80 hover:twcss-duration-500 hover:twcss-transition-opacity hover:twcss-ease-in-out [.item-a_&]:twcss-top-0 [.item-a_&]:twcss-leading-[440px] block-overlay-{{ block.id }}'>
            {{ block.settings.text }}
          </div>
        </a>
      </div>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Images grid",
  "tag": "section",
  "class": "home-block-links",
  "max_blocks": 4,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "background_padding",
      "label": "Background Padding",
      "step": 1,
      "min": 0,
      "max": 20,
      "default": 5,
      "unit": "px"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Panel One Link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Panel One Image"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Panel One Text",
      "default": "<p>some words</p>"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Text Position",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay Color",
      "default": "#3182ce"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font size title",
      "min": 12,
      "max": 80,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Panel",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Panel Link"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay Color",
          "default": "#3182ce"
        },
        {
          "type": "range",
          "id": "font_size",
          "label": "Font size title",
          "min": 12,
          "max": 80,
          "step": 1,
          "unit": "px",
          "default": 40
        },
        {
          "type": "color",
          "id": "font_color",
          "label": "Font color",
          "default": "#ffffff"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Panel Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Panel Text",
          "default": "<p>some words</p>"
        },
        {
          "type": "range",
          "id": "padding",
          "label": "Text Position",
          "step": 1,
          "min": 0,
          "max": 50,
          "default": 0,
          "unit": "%"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Images grid",
      "category": "Collection",
      "settings": {
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
