<section
  class='tw-mx-auto tw-flex tw-max-w-[1920px] tw-flex-wrap-reverse tw-justify-center {% if section.settings.reverse_content == true %} md:tw-flex-row-reverse {% endif %}'
  style='margin-bottom: {{ section.settings.margin_bottom }}px; margin-top: {{ section.settings.margin_top }}px;'
>
  <div
    class='tw-flex tw-w-full tw-flex-col tw-justify-center tw-py-[60px]  tw-px-4 md:tw-w-1/2 md:tw-pl-8 md:tw-pr-4 lg:tw-py-[132px] lg:tw-pl-[120px] lg:tw-pr-[108px]'
    style='background-color: {{ section.settings.background }}; color: {{ section.settings.text_color }};'
  >
    <h2 class='tw-mb-3 tw-typ-h2-subheading-a lg:tw-mb-5'>
      {{ section.settings.title }}
    </h2>
    <ul>
      {%- for block in section.blocks -%}
        <li>
          <div class='tw-flex tw-gap-4'>
            <picture>
              <img
                src='{{ block.settings.image | image_url }}'
                class=' tw-w-[70px]'
                width='auto'
                height='auto'
                loading='lazy'
              >
            </picture>
            <div>
              <h3 class='tw-mb-2 tw-typ-h4-subtopic-2'>
                {{ block.settings.title }}
              </h3>
              <p class='tw-mb-6 tw-typ-body-2'>
                {{ block.settings.descripcion }}
              </p>
            </div>
          </div>
        </li>
      {%- endfor -%}
    </ul>

    <div class='tw-flex tw-w-full tw-flex-col tw-gap-4 md:tw-flex-row'>
      {%- if section.settings.show_button_1 == true -%}
        <a
          href='{{ section.settings.link_button_1 }}'
          class='tw-button'
          style='background-color: {{ section.settings.background_button }}; color: {{ section.settings.text_button_color }};'
        >
          {{ section.settings.text_button_1 }}
        </a>
      {%- endif -%}

      {%- if section.settings.show_button_2 == true -%}
        <a
          href='{{ section.settings.link_button_2 }}'
          class='tw-button'
          style='background-color: {{ section.settings.background_button }}; color: {{ section.settings.text_button_color }};'
        >
          {{ section.settings.text_button_2 }}
        </a>
      {%- endif -%}
    </div>
  </div>

  <div class='tw-w-full md:tw-w-1/2'>
    <img
      src='{{ section.settings.image | image_url }}'
      class='tw-h-full tw-w-full tw-object-cover'
      alt='product-image'
      loading='lazy'
      width='auto'
      height='auto'
    >
  </div>
</section>

{% schema %}
{
  "name": "List and image",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 36
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#E3E3E3"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title text"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000"
    },
    {
      "type": "checkbox",
      "id": "reverse_content",
      "default": false,
      "label": "Reverse content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "background_button",
      "label": "Background buttons",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "text_button_color",
      "label": "Texts color buttons",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "type": "checkbox",
      "id": "show_button_1",
      "default": true,
      "label": "Show button"
    },
    {
      "type": "text",
      "id": "text_button_1",
      "label": "Content button",
      "default": "lorem"
    },
    {
      "type": "url",
      "id": "link_button_1",
      "label": "Link",
      "default": "/"
    },
    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "type": "checkbox",
      "id": "show_button_2",
      "default": false,
      "label": "Show button"
    },
    {
      "type": "text",
      "id": "text_button_2",
      "label": "Content button",
      "default": "lorem"
    },
    {
      "type": "url",
      "id": "link_button_2",
      "label": "Link",
      "default": "/"
    }
  ],
  "blocks": [
    {
      "type": "list_element",
      "name": "List",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title text"
        },
        {
          "type": "textarea",
          "id": "descripcion",
          "label": "descripcion",
          "default": "Descripcion text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "List and image"
    }
  ]
}
{% endschema %}
