<section class='tw-grid-system tw-gap-y-[50px] tw-mt-4 tw-mb-[58px] lg:tw-mt-[50px]'>
  <!-- Primera sección -->
  <div class='tw-col-span-full md:tw-col-span-4 {% if section.settings.toggle_image %}lg:tw-col-start-8{% else %}md:tw-col-start-1 lg:tw-col-start-2{% endif %} lg:tw-col-span-4 tw-items-center tw-flex tw-flex-col tw-justify-center'>
    <h5
      class='tw-typ-h5-subtopic-3-a tw-mb-[16px] tw-uppercase tw-text-center tw-text-primary'
    >
      {{ section.settings.sup_title }}
    </h5>
    <h2
      class='tw-typ-h2-subheading-b tw-mb-[16px] tw-text-center tw-text-primary'
    >
      {{ section.settings.title }}
    </h2>
    <p
      class='tw-typ-body-2 tw-mb-[14px] tw-text-center tw-text-primary'
    >
      {{ section.settings.description }}
    </p>
    <div class='tw-flex tw-flex-col tw-w-full tw-gap-y-4'>
      {% if section.settings.show_first_button %}
        <button class='tw-button tw-button-primary'>
          {{ section.settings.first_button_title | link_to: section.settings.first_button_link }}
        </button>
      {% endif %}
      {% if section.settings.show_second_button %}
        <button class='tw-button tw-button-secondary'>
          {{ section.settings.second_button_title | link_to: section.settings.second_button_link }}
        </button>
      {% endif %}
    </div>
  </div>
  <!-- Segunda sección -->
  <div class='tw-col-span-full tw-row-start-1 md:tw-col-span-4 {% if section.settings.toggle_image %}lg:tw-col-start-2{% else %}md:tw-col-start-5 lg:tw-col-start-7{% endif %} lg:tw-col-span-5'>
    {% if section.settings.main_image %}
      <img
        src='{{ section.settings.main_image | image_url }}'
        class='{% if section.settings.adapt_image %}tw-h-[262px]{% endif %} tw-w-full tw-object-cover md:tw-h-[429px] lg:tw-h-[754px]'
        alt='logo'
        loading='lazy'
        width='auto'
        height='auto'
      >
    {% else %}
      <div class='tw-overflow-hidden'>
        <img src='https://dummyimage.com/720x600' width='auto' height='auto' loading='lazy'>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "lg image text two button",
  "settings": [
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "toggle_image",
      "default": false,
      "label": "Place banner to the left"
    },
    {
      "type": "text",
      "id": "sup_title",
      "label": "Store title",
      "default": "YOUR STORE"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "TUMI at perimeter mall"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "5 miles away  •  Open now until 8pm today"
    },
    {
      "type": "checkbox",
      "id": "show_first_button",
      "default": true,
      "label": "Show first button"
    },
    {
      "type": "text",
      "id": "first_button_title",
      "label": "First button title",
      "default": "Store Hours and Services"
    },
    {
      "type": "url",
      "id": "first_button_link",
      "label": "First Button Link"
    },
    {
      "type": "checkbox",
      "id": "show_second_button",
      "default": true,
      "label": "Show second button"
    },
    {
      "type": "text",
      "id": "second_button_title",
      "label": "Second button title",
      "default": "Call us at (770) 390-7353"
    },
    {
      "type": "url",
      "id": "second_button_link",
      "label": "Second button Link"
    },
    {
      "type": "checkbox",
      "id": "adapt_image",
      "default": false,
      "label": "Adapt image (Movil only)"
    }
  ],
  "presets": [
    {
      "name": "lg image text two button"
    }
  ]
}
{% endschema %}
