{% liquid
  assign button_style = section.settings.button_style

  if button_style
    assign button_style_type = 'button--secondary'
  else
    assign button_style_type = 'button--primary'
  endif
%}

<style>
  /* width */
  .container-scroll::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .container-scroll::-webkit-scrollbar-track {
    background: #e3e3e3;
    border-radius: 3px;
  }

  /* Handle */
  .container-scroll::-webkit-scrollbar-thumb {
    background: #1c1d1d;
    border-radius: 3px;
  }
</style>
<section
  class='color-{{ section.settings.color_scheme }}'
  style='padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;'
>
  <div
    class='twcss-grid-system twcss-gap-y-5 twcss-mb-16 twcss-px-[15px]'
  >
    <h1 class='twcss-col-span-full twcss-font-bold twcss-uppercase twcss-mb-[25px] {{ section.settings.title_align }}'>
      {{ section.settings.title }}
    </h1>
    {%- for block in section.blocks -%}
      <style>
        #item-{{ block.id }}:checked ~ div > #map-{{ block.id }} {
         display: block !important;
        }
      </style>
      <input
        {% if block.type == 'default_map' %}
          checked
        {% endif %}
        class='!twcss-hidden'
        type='radio'
        id='item-{{ block.id }}'
        name='map-{{ section.id }}'
      >
    {%- endfor -%}
    <div
      class='twcss-max-h-[200px] md:twcss-max-h-[700px] twcss-h-full twcss-overflow-y-auto twcss-col-span-full md:twcss-col-span-3 lg:twcss-col-span-4 container-scroll'
    >
      <ul class='sm:twcss-border sm:twcss-border-solid sm:twcss-border-border'>
        {%- for block in section.blocks -%}
          <li class='twcss-border-b twcss-border-solid twcss-border-border twcss-p-5'>
            <p class='twcss-typ-h3-subtopic-1-b twcss-uppercase twcss-font-bold twcss-mb-[15px]'>
              {{ block.settings.location_name }}
            </p>
            <p class='twcss-typ-body-1 twcss-mb-[15px]'>
              <span class='twcss-font-bold'> Address: </span>
              {{ block.settings.location_address }}
            </p>
            <p class='twcss-typ-body-1 twcss-mb-[15px]'>
              <span class='twcss-font-bold'> Support Schedule: </span>
              {{ block.settings.location_schedule }}
            </p>
            {%- if block.settings.location_address != blank -%}
              <label
                for='item-{{ block.id }}'
                class='twcss-uppercase twcss-mx-1 button {{ button_style_type }} twcss-w-full'
              >
                Get Address
              </label>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class='twcss-col-span-full md:twcss-col-span-5 lg:twcss-col-span-8'>
      {%- for block in section.blocks -%}
        <iframe
          title='mapa'
          src='https://maps.google.com/maps?q={{ block.settings.location_address | json | escape }}&t=&z=13&ie=UTF8&iwloc=&output=embed'
          frameBorder='0'
          scrolling='no'
          marginHeight='0'
          marginWidth='0'
          class='twcss-w-full twcss-h-full twcss-min-h-[300px] twcss-hidden twcss-bg-gray-200'
          id='map-{{ block.id }}'
          loading='lazy'
        ></iframe>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Map",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "button_style",
      "default": false,
      "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Find a Store"
    },
    {
      "type": "select",
      "id": "title_align",
      "options": [
        { "value": "twcss-text-left", "label": "Left" },
        { "value": "twcss-text-center", "label": "Center" },
        { "value": "twcss-text-right", "label": "Right" }
      ],
      "label": "Title align",
      "default": "twcss-text-center"
    }
  ],
  "blocks": [
    {
      "type": "store_map",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "location_name",
          "label": "Location name",
          "default": "Store Name"
        },
        {
          "type": "text",
          "id": "location_address",
          "label": "Location address"
        },
        {
          "type": "text",
          "id": "location_schedule",
          "label": "Location schedule",
          "default": "Store Schedule"
        }
      ]
    },
    {
      "type": "default_map",
      "name": "Default item",
      "settings": [
        {
          "type": "text",
          "id": "location_name",
          "label": "Location name",
          "default": "Store Name"
        },
        {
          "type": "text",
          "id": "location_address",
          "label": "Location address"
        },
        {
          "type": "text",
          "id": "location_schedule",
          "label": "Location schedule",
          "default": "Store Schedule"
        }
      ],
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Map",
      "blocks": [
        {
          "type": "default_map"
        },
        {
          "type": "store_map"
        },
        {
          "type": "store_map"
        },
        {
          "type": "store_map"
        }
      ]
    }
  ]
}
{% endschema %}
