{% liquid
  assign button_style_1 = section.settings.button_style_1

  if button_style_1
    assign button_style_type_1 = 'button--secondary'
  else
    assign button_style_type_1 = 'button--primary'
  endif

  assign button_style_2 = section.settings.button_style_2

  if button_style_2
    assign button_style_type_2 = 'button--secondary'
  else
    assign button_style_type_2 = 'button--primary'
  endif
%}

<section
  class='color-{{ section.settings.color_scheme }} twcss-mx-auto twcss-flex twcss-max-w-[1920px] twcss-flex-wrap-reverse twcss-justify-center {% if section.settings.reverse_content == true %} md:twcss-flex-row-reverse {% endif %}'
  style='margin-bottom: {{ section.settings.margin_bottom }}px; margin-top: {{ section.settings.margin_top }}px;'
>
  <div
    class='twcss-flex twcss-w-full twcss-flex-col twcss-justify-center md:twcss-w-1/2 twcss-items-center'
  >
    <div class='twcss-max-w-[700px] twcss-w-full twcss-p-10'>
      <h2 class='twcss-mb-3 twcss-typ-h2-subheading-a lg:twcss-mb-5'>
        {{ section.settings.title }}
      </h2>
      <ul>
        {%- for block in section.blocks -%}
          <li>
            <div class='twcss-flex twcss-gap-4'>
              <picture>
                {%- if block.settings.image -%}
                  <img
                    src='{{ block.settings.image | image_url }}'
                    class=' twcss-w-[70px]'
                    width='auto'
                    height='auto'
                    loading='lazy'
                  >
                {%- endif -%}
              </picture>
              <div>
                <h3 class='twcss-mb-2 twcss-typ-h4-subtopic-2'>
                  {{ block.settings.title }}
                </h3>
                <p class='twcss-mb-6 twcss-typ-body-2'>
                  {{ block.settings.descripcion }}
                </p>
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

      <div class='twcss-flex twcss-w-full twcss-flex-col twcss-gap-4 md:twcss-flex-row'>
        {%- if section.settings.link_button_1 -%}
          <a
            href='{{ section.settings.link_button_1 }}'
            class='{{ button_style_type_1 }} button twcss-w-full'
          >
            {{ section.settings.text_button_1 }}
          </a>
        {%- endif -%}

        {%- if section.settings.link_button_2 -%}
          <a
            href='{{ section.settings.link_button_2 }}'
            class='{{ button_style_type_2 }} button twcss-w-full'
          >
            {{ section.settings.text_button_2 }}
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>

  <div class='twcss-w-full md:twcss-w-1/2 twcss-max-h-[700px]'>
    {% if section.settings.image %}
      <img
        src='{{ section.settings.image | image_url }}'
        class='twcss-h-full twcss-w-full twcss-object-cover '
        alt='product-image'
        loading='lazy'
        width='auto'
        height='auto'
      >
    {% else %}
      {{ 'collection-5' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "List and image",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 36
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title text"
    },
    {
      "type": "checkbox",
      "id": "reverse_content",
      "default": false,
      "label": "Reverse content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },

    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "type": "checkbox",
      "id": "button_style_1",
      "default": false,
      "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
    },
    {
      "type": "text",
      "id": "text_button_1",
      "label": "Content button",
      "default": "lorem"
    },
    {
      "type": "url",
      "id": "link_button_1",
      "label": "Link",
      "default": "/"
    },
    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "type": "checkbox",
      "id": "button_style_2",
      "default": false,
      "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
    },
    {
      "type": "text",
      "id": "text_button_2",
      "label": "Content button",
      "default": "lorem"
    },
    {
      "type": "url",
      "id": "link_button_2",
      "label": "Link",
      "default": "/"
    }
  ],
  "blocks": [
    {
      "type": "list_element",
      "name": "List",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title text"
        },
        {
          "type": "textarea",
          "id": "descripcion",
          "label": "descripcion",
          "default": "Descripcion text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "List and image"
    }
  ]
}
{% endschema %}
