{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

<section
  class='tw-grid-system'
  style='margin-bottom: {{ section.settings.margin_bottom }}px; margin-top: {{ section.settings.margin_top }}px;'
>
  <div class='tw-col-span-full md:tw-col-span-4 lg:tw-col-span-6 xl:tw-col-span-5 tw-flex tw-flex-col tw-justify-between'>
    <div class='tw-mx-4 md:tw-m-0'>
      <h5 class='tw-typ-h5-subtopic-3-a'>{{ section.settings.eyebrow }}</h5>
      <h2 class='tw-mb-[11px] tw-text-center tw-text-primary tw-typ-h2-subheading-a tw-uppercase md:tw-text-start'>
        {{ section.settings.title }}
      </h2>
      <p class='tw-mb-[20px] tw-text-center tw-text-tertiary tw-typ-body-1 md:tw-text-start'>
        {{ section.settings.description }}
      </p>
    </div>
    <div class='tw-relative'>
      <div class='container-video tw-overflow-hidden tw-relative tw-rounded-3xl [&>video]:!tw-object-cover'>
        {{ section.settings.video_one | video_tag: image_size: '2048x' }}
        <button
          type='button'
          class='play-button tw-absolute tw-inset-0 tw-w-full tw-text-2xl tw-font-bold tw-text-white tw-bg-[#00000029]'
        >
          <span class='deferred-media__poster-button motion-reduce'>
            {%- render 'icon-play' -%}
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class='tw-relative tw-mt-3 md:tw-mt-0 tw-col-span-full md:tw-col-span-4 lg:tw-col-span-6 xl:tw-col-span-7 '>
    <div
      class='container-video tw-overflow-hidden tw-relative tw-rounded-3xl [&>video]:!tw-object-cover tw-h-full [&>video]:tw-h-full'
      style='overflow: -webkit-paged-y;'
    >
      {{ section.settings.video_two | video_tag: image_size: '2048x' }}
      <button
        type='button'
        class='play-button tw-absolute tw-inset-0 tw-w-full tw-text-2xl tw-font-bold tw-text-white tw-bg-[#00000029]'
      >
        <span class='deferred-media__poster-button motion-reduce'>
          {%- render 'icon-play' -%}
        </span>
      </button>
    </div>
  </div>
</section>

<script>
  // change image for button
  document.querySelectorAll('.play-button').forEach((button) => {
    const container = button?.parentElement;
    const video = container.querySelector('video');
    button?.addEventListener('click', () => {
      button.classList.add('tw-hidden');
      button.classList.remove('tw-block');
      video.play();
    });
    video?.addEventListener('ended', () => {
      button.classList.add('tw-block');
      button.classList.remove('tw-hidden');
    });
  });
</script>

{% schema %}
{
  "name": "Section videos",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow",
      "default": "Eyebrow text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Arrive Collection"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Arrive Collection"
    },
    {
      "type": "video",
      "id": "video_one",
      "label": "Video one"
    },
    {
      "type": "video",
      "id": "video_two",
      "label": "Video two"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Section videos"
    }
  ]
}
{% endschema %}
