<section
  class='twcss-grid-system'
  style='margin-bottom: {{ section.settings.margin_bottom }}px; margin-top: {{ section.settings.margin_top }}px; background: {{ section.settings.background }}'
>
  <h2 class='twcss-col-span-full twcss-mb-[20px] twcss-text-brand-primary twcss-text-center twcss-typ-h2-subheading-a twcss-uppercase lg:twcss-mb-[74px]'>
    {{ section.settings.title }}
  </h2>
  <div class='twcss-custom-scrollbar twcss-col-span-full twcss-flex twcss-items-start twcss-gap-4 twcss-overflow-x-scroll twcss-bg-scroll twcss-pt-[22px] twcss-pb-6 twcss-px-4'>
    {%- for block in section.blocks -%}
      <div class='twcss-group twcss-w-[253px] twcss-min-w-[253px] twcss-border twcss-border-border twcss-border-opacity-50 twcss-bg-background twcss-p-4 md:twcss-min-w-[279px] lg:twcss-min-w-[400px] lg:twcss-p-5 lg:hover:twcss-border-transparent lg:hover:twcss-shadow-lg hover:lg:twcss-mb-0 lg:twcss-mb-[46px]'>
        <div class='twcss-relative twcss-mb-[10px] lg:twcss-mb-5'>
          <img
            src='{{ block.settings.image | image_url }}'
            class='twcss-h-[300px] twcss-w-full twcss-object-cover'
            alt='logo'
            loading='lazy'
            width='auto'
            height='auto'
          >
          {%- if block.settings.show_content_image == true -%}
            <div class='twcss-absolute twcss-top-1/2 twcss-left-1/2 twcss-flex twcss-w-full twcss--translate-y-1/2 twcss--translate-x-1/2 twcss-flex-col twcss-items-center twcss-justify-center twcss-bg-black/30 twcss-h-full'>
              <img
                src='{{ block.settings.logo | image_url }}'
                class='twcss-max-w-[54px] twcss-object-cover'
                alt='image'
                loading='lazy'
                width='auto'
                height='auto'
              >
              <p class='twcss-typ-h2-subheading-a twcss-uppercase twcss-text-background'>
                {{ block.settings.text_image }}
              </p>
            </div>
          {%- endif -%}
        </div>
        <h5 class='twcss-mb-1 twcss-uppercase twcss-text-primary twcss-typ-h5-subtopic-3-a lg:twcss-mb-2'>
          {{ block.settings.title }}
        </h5>
        <p class='twcss-mb-[20px] twcss-typ-body-2 twcss-text-tertiary'>
          {{ block.settings.description }}
        </p>
        <a
          href='{{ block.settings.url }}'
          class='twcss-button twcss-button-primary twcss-mt-2 twcss-hidden lg:group-hover:twcss-block twcss-py-[10px]'
        >
          {{ block.settings.button }}
        </a>
      </div>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Card list 2",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Caracteristicas"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "card_section",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title",
          "default": "Title text"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "lorem"
        },
        {
          "type": "url",
          "id": "url",
          "label": "url"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button text",
          "default": "Lorem"
        },
        {
          "type": "header",
          "content": "Content in the image"
        },
        {
          "type": "checkbox",
          "id": "show_content_image",
          "default": true,
          "label": "Show content image"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "text_image",
          "label": "Text image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Card list 2",
      "blocks": [
        {
          "type": "Card"
        }
      ]
    }
  ]
}
{% endschema %}
