{% liquid
  assign button_style = section.settings.button_style

  if button_style
    assign button_style_type = 'button--secondary'
  else
    assign button_style_type = 'button--primary'
  endif
%}
<div class='color-{{ section.settings.color_scheme }}'>
  <section
    class='twcss-p twcss-m-auto twcss-max-w-[1920px] twcss-bg-cover twcss-relative'
    style='padding-bottom: {{ section.settings.padding_bottom }}px; padding-top: {{ section.settings.padding_top }}px;'
  >
    {%- if section.settings.background -%}
      <img
        src='{{ section.settings.background | image_url }}'
        loading='lazy'
        width='auto'
        height='auto'
        class='twcss-absolute twcss-inset-0 twcss-h-full twcss-w-full twcss-object-cover'
      >
    {% endif %}
    <div class='twcss-grid-system twcss-relative twcss-flex twcss-justify-center twcss-items-center twcss-gap-5 twcss-flex-col md:twcss-flex-row'>
      {% if section.settings.icon %}
        <div class='twcss-flex twcss-justify-center md:twcss-w-1/2'>
          <img
            src='{{ section.settings.icon | image_url }}'
            loading='lazy'
            width='auto'
            height='auto'
            class='twcss-w-full twcss-max-w-[400px]'
          >
        </div>
      {% endif %}
      <div class='twcss-text-center md:twcss-ml-4 md:twcss-text-start twcss-flex twcss-flex-col twcss-justify-center md:twcss-w-1/2'>
        <h2 class=' twcss-mb-[10px] twcss-uppercase'>
          {{ section.settings.text }}
        </h2>
        <p class=' twcss-mb-[20px] twcss-uppercase twcss-font-bold'>
          {{ section.settings.description }}
        </p>
        <div>
          <a
            href='{{ section.settings.url }}'
            class='twcss-uppercase {{ button_style_type }} button'
          >
            {{ section.settings.url_text -}}
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
{% schema %}
{
  "name": "Banner image button text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Image next to text"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Find a store near you"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est provident placeat unde tempore repellat facere nam, possimus molestias quisquam officiis!"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "checkbox",
      "id": "button_style",
      "default": false,
      "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Url"
    },
    {
      "type": "text",
      "id": "url_text",
      "label": "Url text",
      "default": "Find your store"
    }
  ],

  "presets": [
    {
      "name": "Banner image button text"
    }
  ]
}
{% endschema %}
