{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

<section class='color-{{ section.settings.color_scheme }} gradient'>
  <div
    class='twcss-grid-system'
    style='padding-bottom: {{ section.settings.padding_bottom }}px; padding-top: {{ section.settings.padding_top }}px;'
  >
    <div class='twcss-col-span-full'>
      <div class='twcss-mx-4 md:twcss-m-0 twcss-text-center md:twcss-text-start'>
        <h5 class='twcss-typ-h5-subtopic-3-a'>{{ section.settings.eyebrow }}</h5>
        <h2 class='twcss-mb-[10px] twcss-uppercase'>
          {{ section.settings.title }}
        </h2>
        <p class='twcss-mb-[10px]'>
          {{ section.settings.description }}
        </p>
      </div>
    </div>
    {%- for block in section.blocks -%}
      <div class='twcss-col-span-full md:twcss-col-span-4 lg:twcss-col-span-6 twcss-my-4'>
        {%- liquid
          assign video_id = block.settings.video.id | default: block.settings.video_url.id
          assign video_alt = block.settings.video.alt | default: block.settings.description
          assign alt = 'sections.video.load_video' | t: description: video_alt | escape
          assign poster = block.settings.video.preview_image | default: block.settings.cover_image

          if block.settings.video != null
            assign ratio_diff = block.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
            if ratio_diff < 0.01 and ratio_diff > 0
              assign fix_ratio = true
            endif
          endif
        -%}
        {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw
          {%- endcapture -%}
        <div class='video-section isolate section-{{ section.id }}-padding'>
          <noscript>
            <div
              class='video-section__media'
              {% if poster != null %}
                style='--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;'
              {% endif %}
            >
              {%- if block.settings.video == null and block.settings.video_url != null -%}
                <a
                  href='{{ block.settings.video_url }}'
                  class='video-section__poster media media--transparent{% if poster == null %} video-section__placeholder{% endif %}'
                >
                  {%- if poster != null -%}
                    {{
                      poster
                      | image_url: width: 3840
                      | image_tag:
                        loading: 'lazy',
                        sizes: sizes,
                        widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                        alt: alt
                    }}
                  {%- else -%}
                    {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  {%- endif -%}
                </a>
              {%- else -%}
                {{
                  block.settings.video
                  | video_tag:
                    image_size: '1100x',
                    loop: block.settings.enable_video_looping,
                    controls: true,
                    muted: false
                }}
              {%- endif -%}
            </div>
          </noscript>
          <deferred-media
            class='video-section__media deferred-media no-js-hidden gradient global-media-settings twcss-h-full {% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'
            data-media-id='{{ video_id }}'
            {% if poster != null %}
              style='--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;'
            {% endif %}
          >
            <button
              id='Deferred-Poster-Modal-{{ video_id }}'
              class='video-section__poster media deferred-media__poster media--landscape'
              type='button'
              aria-label='{{ alt }}'
            >
              {%- if poster != null -%}
                {{
                  poster
                  | image_url: width: 3840
                  | image_tag:
                    loading: 'lazy',
                    sizes: sizes,
                    widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                    alt: alt
                }}
              {%- else -%}
                {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
              <span class='deferred-media__poster-button motion-reduce'>
                {%- render 'icon-play' -%}
              </span>
            </button>
            <template>
              {%- if block.settings.video == null and block.settings.video_url != null -%}
                {%- liquid
                  assign loop = ''
                  if block.settings.enable_video_looping
                    assign loop = '&loop=1&playlist=' | append: video_id
                  endif
                -%}
                {%- if block.settings.video_url.type == 'youtube' -%}
                  <iframe
                    src='https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}'
                    class='js-youtube'
                    allow='autoplay; encrypted-media'
                    allowfullscreen
                    title='{{ block.settings.description | escape }}'
                  ></iframe>
                {%- else -%}
                  <iframe
                    src='https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}'
                    class='js-vimeo'
                    allow='autoplay; encrypted-media'
                    allowfullscreen
                    title='{{ block.settings.description | escape }}'
                  ></iframe>
                {%- endif -%}
              {%- else -%}
                {{
                  block.settings.video
                  | video_tag:
                    image_size: '1100x',
                    autoplay: true,
                    loop: block.settings.enable_video_looping,
                    controls: true,
                    muted: false
                }}
              {%- endif -%}
            </template>
          </deferred-media>
        </div>
      </div>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Section videos",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.video.settings.header__3.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow",
      "default": "Eyebrow text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Arrive Collection"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Arrive Collection"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "limit": 2,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_video_looping",
          "label": "t:sections.video.settings.enable_video_looping.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__1.content"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__2.content"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.video.settings.cover_image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section videos",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
